body{
  background:#112;
  font-family:Arial,sans-serif;
  color:White;
  width:80%;
  margin:10px auto;
}
body a{
    color:white;
}
h1{text-align: center;border-bottom:2px solid white;}
h2{border-bottom:2px solid grey;}
h1,h2,h3,h4{
  color:white;
  text-shadow:1px  1px 0 black,
             -1px -1px 0 black,
             -1px  1px 0 black,
              1px -1px 0 black,
              0    0  8px cyan;
}
.disclaimer{color:white;max-width:400px;margin:auto;font-size:12px;text-align:center;}

.backbutton{text-align:center;padding:4px 8px;background:#334;color:white;border-radius:100px;}
.backbutton a{color:white;text-decoration:none;}
