table{
          margin:auto;
          color: white;
        }
        .details-version,.details-year{display:block; text-align: center;}
        .splash-entry{max-width: 300px;height:auto;padding:5px;}
        td,th{padding:20px 30px;border:1px inset grey;}
        .details-version{font-size: 140%;font-weight: bold;}
        .details-year{opacity:0.5;}
        .details-source{display:block; text-align: center;margin-top:40px;font-size:smaller;}
        .details-source a{color:white;opacity:0.5;}
        .details-source:before{content:"source: ";}
        .splash-images{text-align: center;}
        .details-widget{background:rgba(128,128,255,0.2);margin:8px 0;padding:2px;border-radius:5px;text-align: center;}
        .details-widget audio{width:240px; height:20px; border-radius:0;}
        span[title]{border-bottom:1px grey dotted;}
