html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #ccc;
  background:#222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

strong {
  font-weight: inherit;
}

strong {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
xmp {
  font-family: monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

input {
  font: inherit;
  margin: 0;
}

input {
  overflow: visible;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #43a6f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

hr::before {
  display: table;
  content: "";
}

hr::after {
  display: table;
  clear: both;
  content: "";
}



td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

code, xmp {
  font-family: monospace;
  font-size: 12px;
}

.repo-config-option:not(:checked) ~ .time-remaining {
  display: none;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pl-3 {
  padding-left: 16px !important;
}

.pl-4 {
  padding-left: 24px !important;
}

.pl-5 {
  padding-left: 32px !important;
}

.pl-6 {
  padding-left: 40px !important;
}

.element::before {
  display: table;
  content: "";
}

.element::after {
  display: table;
  clear: both;
  content: "";
}

.element>*:first-child {
  margin-top: 0 !important;
}

.element>*:last-child {
  margin-bottom: 0 !important;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin-top: 0;
  margin-bottom: 16px;
}

hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  color: #6a737d;
}

ul,
ol {
  padding-left: 2em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li>p {
  margin-top: 16px;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;

  margin-left:auto;
  margin-right:auto;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  border-top: 1px solid #c6cbd1;
}

img {
  max-width: 100%;
  box-sizing: content-box;
}

code, xmp {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 100%;
  background-color: rgba(27,31,35,0.2);
  border-radius: 3px;
}

code::before,
code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

:checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item+.task-list-item {
  margin-top: 3px;
}

.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

hr {
  border-bottom-color: #eee;
}

body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  position: relative;
  padding-bottom: 200px;
}

body:last-child {
  margin-bottom: 50px;
}

header {
  margin-bottom: 1.0em;
}

header h1 {
  margin: 0px;
  padding: 0px;
  /* font-size: 3em; */
  font-size: 7vmin;
  border-bottom: none;
}

code, xmp {
  margin-bottom: 20px;
  padding-left: 20px;
  white-space: pre;
  display: block;
  color: #FFFFFF;
  background: #000000;
  word-wrap: break-word;
  overflow: auto;
  font-size: 1.25em;
}

g-row {
  display: block
}
g-col {
  display: inline
}

@media (min-width: 50em) {
  g-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  g-col {
    display: table-cell;
    padding-right: 2%;
  }
  g-col:last-child {
    padding-left: 2%;
    padding-right: 0;
  }
}

label {
  display: block;
  margin-bottom: 3px;
}

label>input[type=checkbox] {
  margin-top: 10px;
  margin-bottom: 15px;
}

label>input[type=radio] {
  margin-top: 10px;
  margin-bottom: 10px;
}

input:not([type]), input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=tel], input[type=color], input[type=number], input[type=search], input[type=text], select, textarea {
  display: block;
  margin-bottom: 10px;
  padding: .3em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

input:not([type]):focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=week]:focus, input[type=tel]:focus, input[type=color]:focus, input[type=number]:focus, input[type=search]:focus, input[type=text]:focus, select:focus, textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

select {
  display: block;
  margin-bottom: 10px;
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

button {
  background-color: #0078e7;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: .5em 1em;
  text-decoration: none;
  border-radius: 2px;
  border: transparent;
}

footer {
  color: #636c72!important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #efefef;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}

p>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    border-radius: 3px;
    display: inline-block;
    background-color: #111;
    word-break: keep-all;
    vertical-align: middle;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/* highlighter */
.c1{
    color: #ddd;
    font-style: italic;
}

.nl{
    color: orange;
    font-weight: bold;
}

.nf{
    color: #5cf;
}

.mi {
    color: #faa;
}

.no {
    color: #aaf;
}
