html {
	--horiz-padding: 1.5em;
	--negative-horiz-padding: -1.5em;
}

body {
	background: #333;
	background-image:
		url('../_assets/images/diagonals2.png');
}

.container {
	max-width: 56em;
	margin: auto;
	padding: 0 var(--horiz-padding);
	background: #fff;
	color: #222;
	font-family: Trebuchet, "Trebuchet MS", sans-serif;
}

header {
	margin: 0 var(--negative-horiz-padding);
	background: #258;
	background-image:
		url('../_assets/images/diagonals1.png'),
		linear-gradient(
			transparent, rgba(0,0,0,.3)
		),
		url('../_assets/images/header-notebook.png');
	background-position: right;
	background-repeat: repeat, no-repeat, no-repeat;
	box-shadow: 0 0 5px inset rgba(0,0,0,.4);
	color: #fff;
}

header h1 {
	position: relative;
	color: transparent;
	padding: .8em 0;
}


header h1:before,
header h1:after{
	content: "Zumi's Scratchpad";
	font-family: georgia, serif;
}

header h1:before{
	padding: 0 var(--horiz-padding);
	background-image: linear-gradient(
		#fff 50%, #8be 96%
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: absolute;
	z-index: 2;
}

header h1:after {
	color: #000;
	filter: blur(2px);
	position: absolute;
	left: var(--horiz-padding);
	transform: translateY(2px);
	display: inline-block;
	z-index: 0;
}

#main-menu ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

#main-menu li {
	text-align: center;
	flex-grow: 0;
}

#main-menu li {
	border-right: 2px ridge rgba(128,128,128,.5);
}

#main-menu a {
	font-family: Georgia, serif;
	width: 100%;
	height: 100%;
	display: block;
	padding: .25em var(--horiz-padding);
	text-decoration: none;
	background: #181818;
	background-image: linear-gradient(
		rgba(255,255,255,.75),
		rgba(255,255,255,.4) 1px,
		rgba(255,255,255,.08) 50%,
		transparent 50%
	);
}

#main-menu a:hover{
	color: rgba(255,255,255,.5)
}

#main-menu {
	background: #181818;
	background-image: linear-gradient(
		rgba(255,255,255,.4) 1px,
		rgba(255,255,255,.08) 50%,
		transparent 50%
	);
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;
}

header a {
	color: #fff;
}

#contents a {
	color: #00f;
}

#contents > p:first-of-type {
	margin-bottom: 1em;
	opacity: .8;
}

h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	margin: .8rem 0;
}

#contents {
	padding: 1em 0;
	padding-bottom: 3em;
	font-size: .95rem;
}

#contents ul, #contents ol {
	margin-left: 2em;
}

#contents li {
	margin: .3em 0;
}

#contents p {
	margin: 1em 0;
}

blockquote {
	border-left: .4em solid #caa;
	padding: .5em 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	background-color: #fee;
}

#blog-index-categorical > * {
	margin: 1em .5em;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 5px 5px 0 0;
	box-shadow: none;
}

#blog-index-categorical h3 {
	margin: 0;
	padding: .5em 1em;
	font-family: Arial, sans-serif;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #dadada;
	border-radius: 5px 5px 0 0;
	background-image: linear-gradient(
		transparent, rgba(0,0,0,.2)
	);
}

#blog-index-categorical ul {
	margin: .5em 1em .5em 2em;
	font-size: .95em;
}

#blog-index-categorical li {
	margin: .5em 0;
}

#blog-index-categorical a {
	color: #444;
	text-decoration: none;
}

#blog-index-categorical a:hover {
	color: #000;
	font-weight: bold;
}

footer:before{
	content: '';
	height: .5em;
	display: block;
	background: #444;
	background-image:
		url('../_assets/images/diagonals2.png');
}

footer {
	background-color: #000;
	color: #fff;
	margin: 0 -1.5rem;
	font-family: Verdana, sans-serif;
	font-size: .75rem;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	color: #fff;
}

footer .row {
	display: flex;
	padding: .75rem 1.5rem;
}

footer .row .chs {
	flex-grow: 1;
	text-align: center;
}

footer .row .rhs {
	border-left: 1px solid #444;
	padding-left: 2em;
}

footer ul {
	list-style: none;
}

@media (prefers-color-scheme: dark) {
	.container {
		color: #ccc;
		background-color: #222;
	}

	#contents a {
		color:  #fff;
	}

	#mailtxt {
		filter: invert(1)
	}

	#contents a:hover {
		color:  #aaa;
	}

	blockquote {
		background-color: #322;
	}

	#blog-index-categorical > * {
		border: 1px solid #111;
		background-color: #333;
	}

	#blog-index-categorical a:hover {
		color: #fff;
		font-weight: bold;
	}

	#blog-index-categorical h3 {
		color: #eee;
		border-bottom: 1px solid #111;
		background-color: #333;
	}
}

@media (max-width: 40em){
	#main-menu ul {
		justify-content: center;
	}

	header h1 {
		text-align: center;
	}

	header h1:before,
	header h1:after {
		left: 50%;
		top: .5em;
		line-height: 1;
		transform: translateX(-50%);
		display: block;
		width: 9em;
	}
	header h1:after {
		transform: translate(-50%, 2px)
	}

	html {
		--horiz-padding: .6em;
		--negative-horiz-padding: -.6em;
	}
}
