/* fonts */
@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  /* this specific version of roboto wants to be loaded first for authenticity*/
  src: url('/_assets/webfonts/r.woff') format('woff'), local('Roboto');
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* this specific version of roboto wants to be loaded first for authenticity*/
  src: url('/_assets/webfonts/r_b.woff') format('woff'), local('Roboto Bold');
}
