:root {
	--glow: #33B5E5;
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	margin: 1em 0 1em 0;
	background: #888;
	opacity: .3;
}

#blog-index ul,
#blog-index-categorical ul {
	margin-left: 0;
	list-style-type: none;
}

a {
	color: #33B5E5;
}

body {
	background-color: #111;
	background-image: linear-gradient(#000, #272D33);
	background-attachment: fixed;
	color: #fff;
	line-height: 1.7em;
	font-family: Roboto, Arial, sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 3em;
	background: #000;
	line-height: 1.25em;
	border-bottom: 2px solid var(--glow);
	z-index: 2;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3em;
	max-width: 60em;
	margin: auto;
}

header h1 {
	font-size: 1em;
}

#main-menu {
	height: 100%;
	flex: 0;
}

#main-menu ul {
	display: flex;
	list-style-type: none;
	height: 100%;
}

#main-menu ul li:not(:last-child) {
	border-right: 1px solid #333;
}

#main-menu ul li {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1em;
	box-shadow: 0 0 0 inset var(--glow);
	transition: 0.1s ease-in-out box-shadow;
}

#main-menu ul li:hover {
	box-shadow: 0 -4px 0 inset var(--glow);
	cursor: pointer;
}

#main-menu ul li.selected {
	box-shadow: 0 -4px 0 inset var(--glow);
}

#main-menu a {
	text-decoration: none;
	color: inherit;
}

.container:before {
	content: "";
	width: 100%;
	display: block;
	height: 3em;
}

.container {
	margin: auto;
	padding: 1em 2em;
	width: 80%;
	background-color: rgba(0,0,0,.3);
	min-height: 100vh;
}

footer * hr {
	display: none;
}

footer {
	display: flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 1.5em;
}

footer .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer .lhs,
footer .rhs {
	flex-grow: 1;
}

footer .rhs {
	text-align: right;
}

footer .rhs ul {
	list-style-type: none;
}

.footer-buttons > * {
	opacity: 1;
	margin-right: .5em;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0 .5em 0;
}

article ul,
article ol {
	margin-left: 2em;
}

article ul li,
article ol li {
	margin-bottom: .5em;
}

pre {
	max-width: 100%;
	overflow: auto;
}

code {
	font-size: 1rem;
}

article p {
	margin-bottom: 1em;
}
