
/* start borrow
 *
 * Holo Web CSS (c) 2012-2015, 2022 Zachary Yaro
 * https://holo.zmyaro.com/LICENSE.txt 
 */
button, input[type="button"], input[type="submit"], input[type="reset"], select {
	margin: 6px;
    padding: 4px 12px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 1px;
	outline-style: none;
	outline-width: 0px;
	font: inherit;
}

option {
	font: inherit;
	background-color: #000;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
background-color: #3D3D3D;
    background-color: rgba(153, 153, 153, 0.4);
    border-left-color: #3B3B3B;
    border-right-color: #3B3B3B;
    border-top-color: #656565;
    border-bottom-color: #2E2E2E;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    color: white;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active{
	background-color: #2D9FC9;
	border-left-color: #2C9CC6;
	border-right-color: #2C9CC6;
	border-top-color: #50AFD2;
	border-bottom-color: #278BB1;
	box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%), 0 0 0 4px rgb(51 181 229 / 40%);
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus,
select:focus{
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%), inset 0 0 0 1px rgb(0 153 204 / 62%);
}

select {
	background: linear-gradient(315deg, rgba(204, 204, 204, 0.6) 8px, rgba(0,0,0,.6) 9px);
	border-bottom-color: rgba(204, 204, 204, 0.3);
	color: #fff;
	border-width: 0 0 1px 0;
	appearance: none;
}

select:active {
	background-color: #1F6D89;
	background: linear-gradient(
	315deg
	, rgba(160, 197, 211, 0.84) 8px, rgba(51, 181, 229, 0.6) 9px);
	border-bottom-color: #5E90A3;
	box-shadow: 0 0 0 4px rgb(51 181 229 / 60%);
}
/* end borrow */
