#mailtxt{
	filter: invert(1);
}

article figure {
	margin: 1em 0;
	padding: .5em;
}

article figure img {
	border: 1px solid var(--glow);
	transition: .1s linear box-shadow;
}


article figure figcaption {
	font-style: oblique;
}

