@media only screen and (max-width: 64em) {
  .container {
		width: 100%;
	}
}

/* mobile toggles */
@media only screen and (max-width: 56em) {
	header {
		padding: 0 0 0 1em;
	}
	
	#main-menu ul {
		display: none;
	}

	#mobile-toggle + label:before {
		height: 100%;
		padding: 0 1em;
		width: 9em;
		text-align: center;
		display: flex;
		align-items: center;
		content: 'Show menu';
		font-weight: bold;
		font-size: .75em;
		text-transform: uppercase;
	}
	
	#mobile-toggle:active + label:before {
		background: #3F4661;
	}

	#mobile-toggle:checked + label:before {
		content: 'Hide menu';
		border: 3px solid #99C045;
	}

	#mobile-toggle:checked + label + ul {
		display: flex;
		flex-direction: column;
		height: auto;
		position: absolute;
		background: #000;
		color: #fff;
		box-shadow: 0 0 10px var(--glow);
		top: 3em;
		right: 0.3em;
		padding: 0;
	}

	#mobile-toggle:checked + label + ul:before {
		display: none;
	}

	#mobile-toggle:checked + label + ul li {
		display: block;
		padding: 1em 1.5em;
		box-shadow: none;
		border: 1px solid #333;
	}

	#mobile-toggle:checked + label + ul li:hover {
		background: #3F4661;
	}
}

@media only screen and (min-width: 80em) {
	.container {
		width: 64em;
	}
}
