/* fonts */
@font-face {
	font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../_assets/webfonts/pfd_b.woff2') format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../_assets/webfonts/pfd_bi.woff2') format('woff2');
}
