body {
	line-height: 1.6em;
	font-family: Helvetica, Arial, Arimo, sans-serif;
	background: #888;
	color: #111;
	background-image: url('../_assets/images/bg-light.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a {
	color: inherit;
	opacity: 0.65;
}

a:hover {
	opacity: 1;
}

article a:visited {
	color: #3c3cd2;
}

hr {
	display: none;
}

p {
	padding-bottom: .75em;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0.6rem 0;
	font-family: 'Playfair Display', Times, 'Times New Roman', serif;
	line-height: 1.6em;
	clear: both;
}

pre {
	max-width: 100%;
	overflow: auto;
}

code {
	font-size: 1rem;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.45em;
}

h3 {
	font-size: 1.2em;
}

h4,
h5,
h6 {
	font-size: 1.2em;
}

#contents,
footer {
	padding: 0 2em;
}

.container {
	width: 80%;
	margin: auto;
	margin-bottom: 5em;
	border-radius: 0em 0em 1em 1em;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.5);
}

header {
	display: flex;
	flex-direction: column-reverse;
}

header > * {
	flex-grow: 1;
}

header h1 {
	background: #cc8400;
	background-image: url('../_assets/images/scanline.png'), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 100%);
	background-position: 0 0, 0 0, 80%;
	background-repeat: repeat, repeat;
	background-size: auto, auto;
	text-shadow: 0 0 10px black;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2.5em;
	padding-bottom: 1em;
	line-height: 1em;
	user-select: none;
}

#main-menu,
footer {
	background: #212b44;
	color: white;
}

#main-menu {
	position: fixed;
	z-index: 999;
	width: 80%;
	top: 0;
	padding: .8em 2em;
	font-size: .9em;
	display: flex;
	flex-direction: row-reverse;
	background-image: url('../_assets/images/icon.svg'), linear-gradient(to bottom, #a7adb9 0%, #a7adb9 1px, #6c7282 1px, #354356 50%, #212b44 50%, #000000 100%);
	background-position: 2em 50%, 0 0;
	background-repeat: no-repeat, repeat;
	background-size: auto 70%, auto;
}

#main-menu ul {
	list-style: none;
	display: flex;
	flex-grow: 1;
}

#main-menu ul li {
	display: inline-block;
	flex-grow: 1;
}

#main-menu ul li a {
	opacity: 1;
}

.selected a {
	text-shadow: 0 0 8px;
}

#main-menu ul:before {
	content: '';
	width: 2em;
	margin-right: 2em;
}

#main-menu ul:after {
	content: '';
	padding-left: 14em;
}

#contents {
	background: rgba(255, 255, 255, 0.7);
	padding-bottom: 2em;
}

#contents ul,
#contents ol {
	margin-left: 3em;
}

article ul li,
article ol li {
	margin-bottom: .5em;
}

#blog-index ul {
	margin-left: 0;
	list-style-type: none;
}

#blog-index-categorical ul {
    margin-left: 1em;
    list-style-type: '\02192\00020';
}

footer {
	display: flex;
	flex-direction: column;
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: 1.5em;
	border-radius: 0em 0em 1em 1em;
	background-image: linear-gradient(to bottom, #354356 0%, #010b24 100%);
}

footer .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer .row > * {
	padding: .5em;
}

footer .lhs,
footer .rhs,
footer .chs {
	flex-grow: 1;
}

footer .lhs {
	text-align: left;
}

footer .rhs {
	text-align: right;
}

footer .chs {
	text-align: center;
}

footer .rhs ul {
	list-style-type: none;
}
/*.separator{
    width:100%;
    content:'';
    height: 1px;
    background: rgba(255,255,255,.2);
    margin: 10px 0;
}*/
.footer-buttons {
  /*&:after{
        content: "(Don't hotlink!)";
        display: block;
        text-align: center;
    }*/;
}

.footer-buttons > * {
	opacity: 1;
	margin-right: .5em;
}

.article-date,
.last-edited {
	color: rgba(0, 0, 0, 0.7);
	user-select: none;
	font-style: oblique;
}

.readtime {
	position: relative;
	display: inline-block;
	top: 1em;
	margin-bottom: .5em;
}

a.image-link {
	opacity: 1;
}

#mobile-toggle {
	display: none;
}

#blog-index li {
	margin-bottom: 0;
}

article figure img {
	border: 1px solid rgba(0, 0, 0, 0.7);
}

article figure figcaption {
	font-style: oblique;
}

.fig-left,
.figure-left {
	float: left;
	clear: left;
}

.fig-right,
.figure-right {
	float: right;
	clear: right;
}

article figure {
	margin: 1em 0;
	padding: .5em;
}

