@media only screen and (max-width: 56em) {
	.container {
		width: 100%;
		margin-bottom: 0;
		border-radius: 0;
	}

	footer {
		border-radius: 0;
	}

	#main-menu {
		width: 100%;
		background-position: 1em 50%, 0 0;
	}

	#main-menu ul:after {
		padding-left: 0;
	}

	#contents, footer {
		padding: .5em 1em;
	}

	#contents {
		padding-bottom: 2em;
		padding-top: 0;
	}

	header h1 {
		padding-left: .5em;
		padding-right: .5em;
	}
}

/* mobile toggles */
@media only screen and (max-width: 35em) {
	#main-menu ul {
		display: none;
	}

	#mobile-toggle + label {
		-webkit-tap-highlight-color: transparent;
	}

	#mobile-toggle + label:before {
		width: 7em;
		text-align: center;
		background: #0e1217;
		background-image: linear-gradient(to bottom, #6f788b 0%, #222a36 50%, #101522 50%, #111 100%);
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		display: block;
		content: 'Show menu';
		font-weight: bold;
		text-shadow: 0 2px rgba(0, 0, 0, 0.7);
		padding: .25em 0;
		margin: -.25em;
		position: relative;
		left: 1em;
	}

	#mobile-toggle:checked + label:before {
		content: 'Hide menu';
		box-shadow: inset 0 2px 5px #000000, inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	}

	#mobile-toggle:checked + label + ul {
		display: block;
		position: absolute;
		background: white;
		background-image: linear-gradient(to bottom, white 0%, #ddd 100%);
		text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		color: #222;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		top: 3.5em;
		right: 0.8em;
	}

	#mobile-toggle:checked + label + ul:before {
		display: none;
	}

	#mobile-toggle:checked + label + ul li {
		display: block;
		padding: .5em 1.5em;
		border-radius: 5px;
	}
	
	#mobile-toggle:checked + label + ul li a {
		text-decoration: none;
		text-shadow: none;
	}

	#mobile-toggle:checked + label + ul li:hover {
		background: #0380dd;
		background-image: linear-gradient(to bottom, #0380dd 0%, #65b7ef 100%);
		color: white;
	}

	#mobile-toggle:checked + label + ul li:hover a {
		opacity: 1;
	}
}

@media only screen and (max-width: 24em) {
	header h1 {
		background-size: auto, auto, 80% auto;
	}
}

@media only screen and (min-width: 80em) {
	.container {
		width: 64em;
	}

	#main-menu {
		width: 64rem;
	}
}
