/* dark theme */
@media (prefers-color-scheme: dark) {
    body{
        background-image: url('../_assets/images/bg-dark.jpg');
    }
    #contents{
        background: rgba(12,12,12,0.7);
        color: #fff;
    }
    #mailtxt{
        filter: invert(1);
    }
    .article-date, .last-edited {
        color: rgba(255,255,255,.7);
    }

    @media only screen and (max-width: 35em){
        #mobile-toggle:checked + label + ul{
            background-image: linear-gradient(to bottom, #444 0%,#000 100%);
            color: white;
        }
        #mobile-toggle:checked + label + ul li:hover{
            background-image: linear-gradient(to bottom, #0360bd 0%,#4597cf 100%);
            color: white;
        }
    }
    
    article figure img {
        border: 1px solid rgba(255,255,255,.7);
    }

    article a:visited {
      color: #acacf2;
    }
}
