/* deathshadow reset */

html,body,div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,form,fieldset,caption,
table,tr,td,th,address,blockquote,img {
	margin:0;
	padding:0;
}

img, fieldset, object {
	border:none;
}

*, *:after, *:before {
	flex:1 0 auto; /* safari bugfix */
	box-sizing:border-box;
}

button, label {
	cursor:pointer;
	flex: 0;
}

html, body {
	height:100%;
}

hr {
	display:none;
}

body {
	line-height: 1.5;
	font-family: Arial, sans-serif;
}

button, input, table, textarea, select {
	font: inherit;
}

code, raw {
	font-size: 1em;
}

select {
	max-width: 100%;
}

header {
	background-color: rgba(208,208,208,.8);
	background-image: linear-gradient(
		to bottom,
		transparent,
		#888
	);
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 20px black;
	height: 4em;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

header > div {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 64em;
	height: 4em;
	margin: auto;
	padding: 0 2em;
}

#main-menu {
	display: flex;
}

body {
	background-color: #222;
	color: #fff;
}

article {
	background-color: #333;
	background-image: linear-gradient(
		to bottom,
		transparent calc(100% - 10em),
		#252525
	);
	max-width: 64em;
	margin: auto;
	padding: 2em;
	padding-top: 6em;
	box-shadow: 0 0 11px inset black;
	margin-bottom: 2em;
	border-radius: 0 0 10px 10px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Inter,sans-serif;
}

article a { color: #0af; }

#main-menu a { color: inherit; }

header h1 {
	background-image: url('/stuff/mdiocre/logo.svg');
	background-size: auto 100%;
	background-position: left;
	background-repeat: no-repeat;
	width: 10rem;
	height: 1.5em;
	filter:
		brightness(50%)
		drop-shadow(0 1px 1px #ccc)
		drop-shadow(0 -1px 1px #888);
	flex-grow: 1;
}

header nav {
	flex-grow: 0;
}

header h1 a {
	opacity: 0;
}

#main-menu {
	list-style-type: none;
	color: #111;
	text-shadow: 0 1px 2px #ddd;
}

#main-menu a{
	text-decoration: none;
	padding: 1em;
	border-radius: 5px;
	transition: .2s box-shadow;
	box-shadow:
		0 0 9px inset transparent,
		0 1px 1px #aaa;
	border: 1px solid rgba(0,0,0,.2);
	margin-right: .5em;
}

#main-menu a:hover{
	box-shadow:
		0 3px 9px inset rgba(0,0,0,.6),
		0 1px 1px #aaa;
}

#main-menu li {
	position: relative;
	text-align: center;
}

article ul {
	margin-left: 2em;
	margin-top: .5em;
}

article ul li {
	margin-bottom: .5em;
}

article p {
	margin-bottom: .5em;
}

article h1 {
	margin-bottom: 1rem;
}

article h2, article h3 {
	margin-bottom: .5rem;
}

article h1:after {
	content: "";
	display: block;
	background-image: linear-gradient(
		to right,
		#fff, transparent
	);
	width: 100%;
	height: 1px;
}

article pre {
	background-color: #111;
	padding: 1em;
	border-radius: 5px;
	border-bottom: 1px solid #666;
	overflow-x: auto;
}

.md .generic.heading,
.md .generic.subheading {
	color: #fa0;
	font-weight: bold;
}

.md .keyword {
	color: #af0;
}

.md .generic.strong {
	font-weight: bold;
}

.md .name.tag, .md .name.attribute {
	text-decoration: underline;
}

.html .comment {
	opacity: .5;
	font-style: italic;
}

.html .punctuation, .html .name.tag {
	color: #faf;
}

.index-hero {
	position: relative;
	left: -2em;
	top: -2em;
	background-color: #000;
	width: calc(100% + 4em);
	padding: 4em 2em;

	background-image:
		linear-gradient(
			to right,
			#000,
			transparent
		),
		url("hero-image.png");
	background-size:
		100em auto,
		auto 120%;
	background-position:
		left,
		right center;
	background-repeat: no-repeat;
}

.index-hero h1:after {
	display: none;
}

.index-hero h1 {
	font-size:2em;
	margin-bottom: .2em;
    line-height: 2.5rem;
}

.index-hero p {
	margin-bottom: 1.5em;
	font-size: 1.25em;
}

.index-hero ul {
	display: flex;
	margin: 0;
	list-style-type: none;
	gap: 2em .5em;
	margin-top: 1em;
	flex-wrap: wrap;
}

.index-hero ul li {
	flex-grow: 0;
	margin-bottom: 0;
}

.index-hero ul li a {
	color: #fff;
	text-decoration: none;
	background-color: #666;
	padding: .75em 1em;
	border-radius: 5px;
	background-image: linear-gradient(
		to bottom,
		#bbb,
		transparent 3em
	);
	background-blend-mode: overlay;
	border: 2px solid #666;
	text-shadow: 0 1px 0 black;
	position: relative;
}

.index-hero ul li:nth-of-type(1) a {
	background-color: #161;
	border-color: #161;
	color: #fff;
}

.index-hero ul li a:hover:before,
.index-hero ul li a:active:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	opacity: .15;
	transition: .1s background-color, .1s opacity;
}

.index-hero ul li a:hover:before {
	background-color: white;
}

.index-hero ul li a:active:before {
	background-color: black;
	opacity: .30;
}

footer {
	text-align: center;
	padding-bottom: 2em;
}

footer a {
	color: #aaa;
}

footer img {
	margin-bottom: 1em;
}

#mobile-menu, #mobile-menu-close {
	display: none;
}

@media screen and (max-width: 48em) {
	#mobile-menu {
		display: block;
		text-decoration: none;
		padding: 1em;
		border-radius: 5px;
		transition: .2s box-shadow;
		box-shadow: 0 0 9px inset transparent, 0 1px 1px #aaa;
		border: 1px solid rgba(0,0,0,.2);
		margin-right: 0.5em;
		color: #111;
		text-shadow: 0 1px 2px #ddd;
	}

	#main-menu:target + #mobile-menu-close {
		display: block;
		position: fixed;
		top: .2em;
		right: 2.5em;
		z-index: 1;
		color: #111;
		padding: 1em;
		border-radius: 5px;
		border: 1px solid #aaa;
	}

	#mobile-menu:hover {
	    box-shadow: 0 3px 9px inset rgba(0, 0, 0, 60%), 0 1px 1px #aaa;
	}

	#main-menu {
		display: none;
	}

	#main-menu:target {
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		width: 10em;
		height: 100vh;
		background: rgba(240,240,240,.9);
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2em;
	}

	#main-menu:target > * {
		flex-grow: 0;
	}
}

