/* headings */

@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../_assets/webfonts/lf_b.woff2') format('woff2');
}

@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../_assets/webfonts/lf_bl.woff2') format('woff2');
}

/* regular text */

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../_assets/webfonts/ru.woff2') format('woff2');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../_assets/webfonts/ru_i.woff2') format('woff2');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../_assets/webfonts/ru_b.woff2') format('woff2');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../_assets/webfonts/ru_bi.woff2') format('woff2');
}
