body {
  --bg-color-1: #222;
  --bg-color-2: #111;
  --tx-color: #fff;
  --lk-color: #ccc;
  --blog-box-color: rgba(36,36,36,.5);
}

body {
  background-color: var(--bg-color-1);
  background-image: linear-gradient(transparent, var(--bg-color-2));
  background-attachment: fixed;
  background-size: 100% 100%;
  color: var(--tx-color);
  font-family: Rubik, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Franklin", "Franklin Gothic", sans-serif;
}

.container {
  margin: auto;
  padding: 4em 1em;
  padding-right: 7em;
  max-width: 70em;
}

header {
  margin-bottom: 3em;
}

h1 {
  font-weight: 900;
  letter-spacing: -.025em;
  display: flex;
  align-items: center;
  line-height: 1;
}

h1:before {
  width: 1em;
  height: 1em;
  background-image: url("../_assets/images/cy-logo.svg");
  display: block;
  margin-right: .5em;
  content: "";
  flex-grow: 0;
}

h2 {
  margin-top: 1em;
  font-size: 1.75em;
}

p {
  margin: .5em 0;
  line-height: 1.6;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  margin-top: 1.5em;
}

h5 {
  margin-top: 1.5em;
}

h6 {
  margin-top: 1.5em;
}

::selection {
  background: rgba(255,128,0,.3);
}

::-moz-selection {
  background: rgba(255,128,0,.3);
}

a {
  color: var(--lk-color);
}

a:hover {
  color: #EA8D00;
}

#main-menu {
  position: fixed;
  right: 50%;
  top: 4em;
  transform: translateX(1400%);
}

#main-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#main-menu ul li {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
}

#main-menu ul li a {
    display: inline;
}

#main-menu ul li a:before {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 1em;
  display: block;
  content: "";
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  filter: contrast(0) brightness(200%) drop-shadow(0 2px 3px rgba(0,0,0,.4));
  transition: filter .1s;
}

#main-menu ul li a:hover:before,
#main-menu ul li.selected a:before {
  filter: contrast(100%) brightness(100%);
}

#main-menu ul li:nth-child(1) a:before {
  background-image: url("../_assets/images/cy-fa-home.svg");
}

#main-menu ul li:nth-child(2) a:before {
  background-image: url("../_assets/images/cy-fa-person.svg");
}

#main-menu ul li:nth-child(3) a:before {
  background-image: url("../_assets/images/cy-fa-pencil.svg");
}

#main-menu ul li:nth-child(4) a:before {
  background-image: url("../_assets/images/cy-fa-box.svg");
}

#main-menu ul li:nth-child(5) a:before {
  background-image: url("../_assets/images/cy-fa-bookmark.svg");
}

#main-menu ul li:nth-child(6) a:before {
  background-image: url("../_assets/images/cy-fa-info.svg");
}

article ul, article ol {
  margin-left: 2em;
}

article ul li::marker {
  content: '-\00a0\00a0';
}

article ul li {
  margin: .5em 0;
}

#blog-index-categorical {
  margin-top: 1em;
}

#blog-index-categorical h3 {
  margin: 0;
  margin-bottom: .5em;
}

#blog-index-categorical > div {
  border-radius: 10px;
  background-color: var(--blog-box-color);
  box-shadow: 0 0 0;
}

footer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

footer .chs {
  display: flex;
  align-items: center;
  gap: 1em;
}

footer .chs > *:not(select) {
  flex-grow: 0;
}

footer .row {
  display: flex;
  gap: 1em;
}

footer .row > * {
  flex-basis: 50%;
}

footer .rhs ul {
  list-style: none;
}

.footer-buttons {
  display: flex;
  gap: 1em;
  margin-bottom: .5em;
}

.footer-buttons > * {
  flex-grow: 0;
}

#mailtxt {
  margin-top: 1em;
  filter: invert(1);
}

select {
  background-color: transparent;
  color: var(--tx-color);
  padding: .25em .5em;
  border: 1px solid #666;
  border-radius: 4px;
}

button, input[type="button"] {
  padding: .1em .8em;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  transition: background-color .1s;
}

button:hover, input[type="button"]:hover {
  background-color: #444;
}

img {
  border-radius: 4px;
}

pre, code {
  font-size: .8rem;
}

pre {
  padding: 1em 2em;
  border-radius: 6px;
  background-color: var(--blog-box-color);
  box-shadow: 0 2px 8px rgba(0,0,0,.5) inset;
}

blockquote {
  padding: 1em 0 1em 1.5em;
  opacity: .8;
  font-style: italic;
}