@media (max-width:79em) {
  #main-menu {
    transform: translateX(0);
    right: 1em;
  }
}

@media (max-width: 30em) {
  .container {
    padding-right: 1em;
    padding-top: 6em;
  }
  
  #main-menu {
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2px);
    z-index: 9999;
  }
  
  #main-menu ul {
    flex-direction: row;
    position: absolute;
    top: .75em;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #main-menu ul li {
    width: 2em;
  }
  
  #main-menu ul li a:before {
    width: 2em;
  }
  
  footer .row {
    flex-direction: column;
  }
  
  footer .chs {
    flex-wrap: wrap;
    gap: .5em;
  }
}

@media (max-width:23em) {
  h1 {
    transform: scale(.8);
    transform-origin: left;
  }
  h1:before {
    width: 1.5em;
    height: 1.5em;
  } 
}

@media (min-width: 30em) and (max-height:30em) {
  #main-menu {
    top: 2em;
  }
  #main-menu ul {
    gap: 1em;
  }
  .container {
    padding-top: 2em;
  }
}