@media (prefers-color-scheme: light) {
body {
  --bg-color-1: #fff;
  --bg-color-2: #ccc;
  --tx-color: #000;
  --lk-color: #555;
  --blog-box-color: rgba(255,255,255,.5);
}

#main-menu ul li a:before {
  filter: contrast(0) brightness(0%) drop-shadow(0 2px 1px rgba(0,0,0,.2));
}
}