<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><!--:title--> - Zumi's Scratchpad</title>
		<meta name="copyright" content="© 2023 Zumi, web v7">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
		<meta name="theme-color" content="#000">
		<meta property="og:site_name" content="Zumi's Scratchpad">
		<meta property="og:title" content="<!--:title-->"/>
		<meta property="og:description" content="<!--:description-->">
		<meta name="author" content="Zumi">
		<link href="{{base}}/favicon.ico" rel="icon">
		<link href="{{base}}/bloge/feed.rss" type="application/rss+xml" rel="alternate" title="Zumi's Bloge">
		<link href="{{base}}/css/screen.css" rel="stylesheet" media="screen,projection,tv">
		<link href="{{base}}/css/print.css" rel="stylesheet" media="print">
		<script src="{{base}}/theme_load.js"></script>
		<script>
			applyTheme("{{base}}", window.localStorage.getItem('theme'));
		</script>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="header-content">
					<h1>Zumi's Scratchpad</h1>
					<nav id="main-menu">
						<input id="mobile-toggle" type="checkbox" hidden>
						<label for="mobile-toggle"></label>
						<ul>
							<li><a href="{{base}}/">Home</a></li>
							<li><a href="{{base}}/carrd/">About</a></li>
							<li><a href="{{base}}/bloge/">Bloge</a></li>
							<li><a href="{{base}}/stuff/">Stuff</a></li>
							<li><a href="{{base}}/bookmarks/">Bookmarks</a></li>
							<li><a href="{{base}}/tutorials/">Tutorials</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<article id="contents">
				{{header}}<!--:content-->
			</article>
			<footer>
				<hr>
				<div class="row">
					<div class="chs">
						<span>Theme switcher: </span>
						<select id="theme-options">
							<option value="screen">Original</option>
						</select>
						<input type="button" value="Go" id="theme-switcher">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="lhs">
						<div class="footer-buttons">
							<a href="{{base}}/_assets/8831.svg"><img src="{{base}}/_assets/8831.png" alt="Zumi website tag"></a>
							<a href="{{base}}/stuff/mdiocre"><img src="{{base}}/_assets/mdiocre_8831.png" title="Powered by MDiocre" alt="MDiocre"></a>
							<a href="https://neocities.org"><img src="{{base}}/_assets/neocities.gif" alt="Neocities - the web is yours"></a>
						</div>
						Website design and content &copy; 2023 Zumi
						<br>
						<div id="commit-number"></div>
						<a href="https://gitlab.com/zumid/zumi.neocities.org-v2">View source?</a>
					</div>
					<div class="rhs">
						<hr>
						<ul>
							<li><a href="https://zumi.neocities.org/bloge/feed.rss">RSS</a></li>
							<li><a href="https://twitter.com/zzdaxuya">Twitter</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	<script src="{{base}}/script.js"></script>
	</body>
</html>
