body {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	--background-color: #fff;
	--color: #333;
	--max-width: 64em;
	--link-color: #428bca;
	--border-color: #ddd;
	color: var(--color);
	background-color: var(--background-color);
}

header {
	background-color: #222;
	background-image: linear-gradient(#3c3c3c, transparent);
	color: #999;
	height: 3.125rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

.header-content {
	display: flex;
	height: 100%;
	align-items: center;
	text-shadow: 0 1px #1a1a1a;
	margin: auto;
	max-width: var(--max-width);
}

header h1 {
	font-size: 1.125em;
	font-weight: 500;
	flex-grow: 0;
	padding: 0 1rem;
}

#main-menu {
	display: block;
	height: 100%;
}

#main-menu ul {
	font-size: .875em;
	display: flex;
	list-style: none;
	height: 100%;
	align-items: center;
}

#main-menu li {
	flex-grow: 0;
}

#main-menu .selected {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 9px 0px inset;
	background-color: rgba(0,0,0,.3);
	color: #fff;
}

#main-menu a:hover {
	color: #fff;
}

#main-menu a {
	color: inherit;
	text-decoration: none;
	display: block;
	line-height: 3.125rem;
	padding: 0 1em;
}


h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	padding: 1.25rem 0 .625rem 0;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: .8rem;
	font-weight: 500;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.125em;
}

p {
	margin-bottom: .625rem;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

#contents a:hover {
	text-decoration: underline;
}

#contents {
	padding: 1em 1.25em;
	margin: 3.75em auto .625em auto;
	border-radius: 6px;
	max-width: var(--max-width);
	line-height: 1.5;
}

#contents ul, #contents ol {
	padding: 0 2em;
	margin-bottom: 1em;
}

#blog-index-categorical > * {
	box-shadow: none;
	padding: 0;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

#blog-index-categorical h3 {
	font-size: 1.1em;
	background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
	padding: .8rem 1rem;
	border-bottom: 1px solid var(--border-color);
	border-radius: 4px 4px 0 0;
	margin-bottom: 0;
}

#blog-index-categorical ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#blog-index-categorical a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--border-color);
	padding: .8em 1em;
}

#blog-index-categorical li:last-child a {
	border-bottom: 0;
}


#blog-index-categorical a:hover {
	background-color: var(--border-color);
}

footer {
	border-top: 1px solid var(--border-color);
	max-width: var(--max-width);
	margin: auto;
	margin-top: 2em;
}

footer .row {
	display: flex;
	padding: 1em 0;
	font-size: .9em;
}

footer .chs {
	text-align: center;
}

footer ul {
	list-style: none;
}

input[type="button"] {
	background-color: #428bca;
	background-image: linear-gradient(to bottom, transparent 0, #2d6ca2 100%);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	padding: .25em .7em;
	line-height: 1.5;
	border-radius: 3px;
	border: 1px solid #2b669a;
	cursor: pointer;
	height: 100%;
	max-height: 2em;
}

input[type="button"]:hover,
input[type="button"]:focus {
	background-color: #2d6ca2;
	border-color: #285e8e;
}

input[type="button"]:focus,
input[type="button"]:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

input[type="button"]:focus {
	outline: thin dotted;
	outline: 1px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

select {
	height: 100%;
	max-height: 2em;
	padding: .25em .5em;
	font-size: 14px;
	line-height: 1.1;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color .15s, box-shadow .15s;
}

select:focus {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	outline: none;
}

blockquote {
	padding: .8px 1em;
	margin: 0 0 1em;
	font-size: 1.1em;
	border-left: 5px solid var(--border-color);
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0
}

.fig-left, .fig-right {
	background-color: var(--background-color);
}

pre {
	padding: 1em;
	margin-bottom: 1.5em;
	background-color: #f5f5f5;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

@media (max-width: 48em) {
	#mobile-toggle {
		display: block;
		position: fixed;
		top: .3em;
		right: 1em;
		appearance: none;
		width: 2.75em;
		height: 2.1em;
		cursor: pointer;
		border: 1px solid #333;
		background-color: #333;
		border-radius: 4px;
	}
	label[for="mobile-toggle"]{
		display: block;
		position: fixed;
		top: .975em;
		right: 2em;
		border-right: 2px solid #fff;
		height: 1em;
		content: "";
		padding: 0 .1em;
		transform: rotate(90deg) scaleY(1.5);
	}
	label[for="mobile-toggle"]:before {
		border-left: 2px solid #fff;
		content: "";
		padding: 0 .175em;
		margin-bottom: .1em;
		height: 1em;
		display: inline-block;
	}
	label[for="mobile-toggle"]:after {
		border-left: 2px solid #fff;
		content: "";
		padding: 0 .1em;
		margin-bottom: .1em;
		height: 1em;
		display: inline-block;
	}
	#mobile-toggle:checked ~ ul {
		max-height: 999em;
		transition: 1.8s max-height ease-in-out;
	}
	#main-menu ul {
		position: fixed;
		top: 3rem;
		left: 0;
		height: auto;
		width: 100%;
		background-color: #222;
		background-image: linear-gradient(#111 1px, #555 2px, #3c3c3c 3px, transparent);
		overflow: hidden;
		max-height: 0;
		transition: .8s max-height cubic-bezier(0, 1, 0, 1);
	}
	#main-menu ul {
		flex-direction: column;
	}
	#main-menu li:first-of-type {
		margin-top: .75em;
	}
	#main-menu li:last-of-type {
		margin-bottom: .75em;
	}
	#main-menu li {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		--background-color: #333;
		--color: #fff;
		--link-color: #8df;
		--border-color: #555;
	}
	#blog-index-categorical h3 {
		background-image: linear-gradient(to bottom, #666 0, #4a4a4a 100%);
	}
	pre {
		background-color: #444;
	}
    #mailtxt{
        filter: invert(1);
    }
}
