/* last-archived: 2014-06-20 18:51:18 */
/* modified: 2021-11-14 */

/*
HEYO THERE! :D

DELECTABRE CSSRE?!!?!?1//1/1

*/
/*Main Page*/
html {
  background-color: rgb(143, 95, 24);
  /*background-image:url("Untitled.png"), url("Untitled.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom right, top left;*/
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

body {
  -webkit-transform: scale(0.97, 0.97);
  /*Chromium, Safari, Google Chrome*/
  -moz-transform: scale(0.97, 0.97);
  /*Gecko, Mozilla Firefox*/
  -o-transform: scale(0.97, 0.97);
  /*Presto, Opera*/
  transform: scale(0.97, 0.97);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  width: 90%;
  font-size: 120%;
  margin: auto;
  padding: 0.50em;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 0px 0px 10px #d3d3d3 inset;
  /*Chromium, Safari, Google Chrome*/
  box-shadow: 0px 0px 0px 10px #d3d3d3 inset;
  -webkit-border-radius: 0.5em;
  /*Chromium, Safari, Google Chrome*/
  border-radius: 0.5em;
}

.cpyfooter {
  overflow: hidden;
  margin: auto;
  font-size: 1em;
  background-color: black;
  color: white;
  position: absolute;
  height: 3em;
  padding-top: .5em;
  margin-top: 0em;
  width: 99%;
  bottom: 0.5em;
  text-shadow: 0px 0px 7px white;
}

.cpyfooter a {
  font-weight: bold;
  color: white;
}

p {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

#maincontent {
  padding-left: 3.75em;
  padding-right: 3.75em;
  padding-top: 1.25em;
  margin-top: -1.25em;
  padding-bottom: 3em;
  background-color: rgba(214, 111, 0, 1);
  z-index: 0;
  position: relative;
}

#inside {
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 3em;
  margin-top: -1.25em;
  background-color: #FFFFFF;
  padding-bottom: 4.5em;
  -webkit-box-shadow: 0px 0px 20px 3px black;
  /*Chromium, Safari, Google Chrome*/
  box-shadow: 0px 0px 20px 3px black;
}

a {
  color: black;
  -webkit-transition: 0.25s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.25s;
  /*Presto, Opera*/
  transition: 0.25s;
  /*text-decoration: none;
   * removed 2021-11-14, I'd rather tell where the links are */
}

a:hover {
  color: orange;
}

/*Main heading stuff*/
#navbar {
  height: 1.25em;
  font-size: 1.25em;
  background-color: #EEEEEE;
  border-top: 4px solid #DDDDDD;
  border-bottom: 4px solid #DDDDDD;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  /*Chromium, Safari, Google Chrome*/
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  list-style-type: none;
}

#navbar li {
  float: left;
  padding: 2px 1em;
  border-right: 1px solid #ccc;
  color: black;
  -webkit-transition: 0.5s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.5s;
  /*Presto, Opera*/
  transition: 0.5s;
}

#navbar li:hover {
  color: #c00;
  background-color: #fff;
}

#navbar div {
  opacity: 0;
  margin: 20px 0 0 0;
  visibility: visible;
  position: absolute;
  top: -26px;
  font-size: 0.75em;
  width: 20em;
  height: 0em;
  z-index: 2;
  background-color: #404040;
  visibility: hidden;
  -webkit-transition: 0.3s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.3s;
  /*Presto, Opera*/
  transition: 0.3s;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  /*Chromium, Safari, Google Chrome*/
  border-radius: 4px;
}

#navbar div p {
  border-bottom: 1px solid white;
}

#navbar div p a {
  padding: 0px 0em;
  border-right: 0px solid #000;
  transition: 0.5s;
  color: white;
}

#navbar div p a:hover {
  color: white;
  font-size: 1.2em;
  background-color: #404040;
  text-shadow: 0px 0px 10px white;
}

#navbar li:hover>div {
  opacity: 1;
  top: 15px;
  visibility: visible;
  height: auto;
}

#navbar li a {
  color: black;
  -webkit-transition: 0.5s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.5s;
  /*Presto, Opera*/
  transition: 0.5s;
  text-decoration: none;
}

#navbar li a:hover {
  color: #c00;
}

#navsearch {
  float: right;
  height: 3px;
}

/*Too tired to work on this search box

#input-search:focus{
	width:500px;
	position:absolute;
	right:60px;
}

*/
.logo {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  padding-top: 1em;
  padding-bottom: 1em;
}

/*Headings*/
h1 {
  border-bottom: 3px solid rgb(255, 165, 0);
  font-size: 2em;
  font-style: bold;
}

h2 {
  border-bottom: 3px solid rgb(235, 145, 0);
  font-size: 1.5em;
  font-style: bold;
}

h3 {
  border-bottom: 3px solid rgb(215, 125, 0);
  font-size: 1.17em;
  font-style: bold;
}

h4 {
  border-bottom: 3px solid rgb(195, 105, 0);
  font-style: bold;
}

h5 {
  border-bottom: 3px solid rgb(175, 85, 0);
  font-size: 0.83em;
  font-style: bold;
}

h6 {
  border-bottom: 3px solid rgb(175, 85, 0);
  font-size: 0.67em;
  font-style: bold;
}

/*Headings (no CSS)*/
.h1-nocss {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h2-nocss {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h3-nocss {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h4-nocss {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h5-nocss {
  display: block;
  font-size: 0.83em;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h6-nocss {
  display: block;
  font-size: 0.67em;
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

/*List Wrapper*/
ul {
  list-style: square;
  margin-top: -17px;
  padding-top: 20px;
  padding-bottom: 30px;
}

li {
  padding-bottom: 10px;
}

/*STOLEN FROM WIKIA*/
.comment {
  padding: 4px 4px 0;
  vertical-align: bottom;
  box-shadow: 0 0 5px 0px #75797a;
  -webkit-box-shadow: 0 0 5px 0px #75797a;
  background-color: #012e59;
  background-image: -moz-linear-gradient(top, #02488b 35%, #012e59 65%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(35%, #02488b), color-stop(65%, #012e59));
  background-image: -o-linear-gradient(top, #02488b 35%, #012e59 65%);
  background-image: -ms-linear-gradient(top, #02488b 35%, #012e59 65%);
  -webkit-border-radius: 4px;
  /*Chromium, Safari, Google Chrome*/
  border-radius: 4px;
  color: white;
  margin: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.comment a {
  color: white;
  text-decoration: underline
}
