/* thanks to Vistaserv for these pixellated conversions */
@font-face {
	font-family: "_Times16"; font-weight: normal; font-style: normal;
	src: url("_font/times_16_r.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times16"; font-weight: bold; font-style: normal;
	src: url("_font/times_16_b.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times16"; font-weight: normal; font-style: italic;
	src: url("_font/times_16_i.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times16"; font-weight: bold; font-style: italic;
	src: url("_font/times_16_bi.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "_Times24"; font-weight: normal; font-style: normal;
	src: url("_font/times_24_r.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times24"; font-weight: bold; font-style: normal;
	src: url("_font/times_24_b.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times24"; font-weight: normal; font-style: italic;
	src: url("_font/times_24_i.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times24"; font-weight: bold; font-style: italic;
	src: url("_font/times_24_bi.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "_Times32"; font-weight: normal; font-style: normal;
	src: url("_font/times_32_r.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times32"; font-weight: bold; font-style: normal;
	src: url("_font/times_32_b.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times32"; font-weight: normal; font-style: italic;
	src: url("_font/times_32_i.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_Times32"; font-weight: bold; font-style: italic;
	src: url("_font/times_32_bi.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "_MSSans11"; font-weight: normal; font-style: normal;
	src: url("_font/mssans_11_r.woff") format("woff");
	font-display: swap;
}
/* i wish there's a font-size conditional for @font-face 
   if you want a more modern analogy, consider apple's
   mac os San Francisco font, that comes in "Text" and
   "Display"
*/

*, *:before, *:after {
	image-rendering: crisp-edges;
}

body {
	background-image: url('bluedarkclstars.gif');
	background-color: #000;
	color: #fff;
	font-family: "_Times16",Times,"Times New Roman",serif;
	padding: 1em 10%;
	line-height: 1.6em;
	padding-bottom: 6em;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

a {
	color: #8af;
	text-underline-offset: .3em;
}

h1 {
	font-size: 2em;
	font-family: "_Times32",Times,"Times New Roman",serif;
}
h2 {
	font-size: 1.5em;
	font-family: "_Times24",Times,"Times New Roman",serif;
}
h3 {
	font-size: 1em;
	font-family: inherit;
	padding: 0.5em 1em;
	border-bottom: 4px ridge #aaa;
	border-top: 4px ridge #aaa;
	margin: 0 -1em;
	text-align: center;
}
#faux-table > div:nth-of-type(1) h3 {
	background-color: #804;
}
#faux-table > div:nth-of-type(2) h3 {
	background-color: #408;
}
h4 {
	opacity: .8;
	margin-bottom: 0;
}
h1 { 
	text-align: center;
	animation: 3s banner infinite step-end;
	color: white;
	text-shadow:
		.1em .1em 0 #666,
		.2em .2em 0 #333;
	border: 1rem solid transparent;
	border-image: url("border.gif") 16 round;
	padding: 1rem;
	background-color: #000;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	line-height: 1em;
}

@media (prefers-reduced-motion) {
	h1 { color: white; animation: none; }
}

@keyframes banner {
  0% { color: pink; }
  25% { color: cyan; }
  50% { color: yellow; }
  75% { color: white; }
}

.actual-divider {
	background-image: url('hrule4.gif');
	background-repeat: repeat-x;
	background-position: center;
	background-size: auto 100%;
	width: 100%;
	height: .25em;
	margin: auto;
}

.new {
	list-style-type: none;
}

.new:before {
	position: relative;
	left: -0.5em;
	margin-left: -1.75em;
	top: .5em;
	z-index: 1;
	display: inline-block;
	width: 1.75em;
	height: 0.6875em;
	background-image: url('new.gif');
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
}

footer {
	text-align: center;
	font-style: italic;
	padding: 2em 0;
}
#faux-table {
	display: flex;
	border: .25rem ridge #aaa;
	margin-top: 2.5em;
}

#faux-table > div {
	flex: 1 1 0px;
	padding: 1rem;
	background-color: rgba(0, 0, 0, .5);
}

#faux-table > div:not(:last-child) {
	border-right: .25rem ridge #aaa;
}

#faux-table h2 {
	border-bottom: .25rem ridge #aaa;
	margin: -1rem;
	margin-bottom: -4px;
	padding: .75em;
	text-align: center;
}

#faux-table div:nth-of-type(1) h2 {
	background-image: url("guitars.gif");
}

#faux-table div:nth-of-type(2) h2 {
	background-image: url("red_cloudsbg.gif");
}

h2:after {
	position: relative;
	left: 0;
	bottom: .25em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('cd6.gif');
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
}

#player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	display: flex;
	background: #111;
	justify-content: space-between;
	align-items: center;
	border-top: 4px ridge #aaa;
	z-index: 2;
}

#player span {
	margin-left: 2em;
	font-weight: bold;
}

#player span:before {
	content: "Now playing: ";
	font-weight: normal;
}

/* 98.css*/

#player button {
	margin-right: 2em;
	background: silver;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	min-height: 2em;
	padding: .5em 1em;
	font-size: .6875em;
	font-family: "_MSSans11", "MS Sans Serif", Helvetica, Arial, sans-serif;
}

#player button:active {
	box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

#player button:focus {
	outline: 1px dotted #000;
	outline-offset: -4px;
}

/* mobile */
@media screen and (max-width: 68em) {
	body {
		padding: 1em 1em;
		padding-bottom: 6em;
	}
}

@media screen and (max-width: 56em) {
	#faux-table {flex-direction: column;}
	#faux-table > div:not(:last-child) {border-right: none;}
	#faux-table > div:not(:first-child) {border-top: 4px ridge #aaa;}
}

.center {
	text-align: center;
}


li {
	position: relative;
	list-style-type: none;
	margin-top: .1em;
}

li:after {
	display: block;
	width: 1em;
	height: 1em;
	background-image: url('midi.png');
	content: '';
	position: absolute;
	top: .25em;
	left: -1.75em;
}

.karaoke:after {
	background-image: url('karaoke.png');
}

.karaoke {
	font-weight: bold;
}
