#blog-index-categorical {
	columns: 20em;
}

#blog-index-categorical > * {
	box-shadow: 0 0 0 1px inset rgba(0,0,0,.1);
	padding: 1em;
	break-inside: avoid;
	margin-bottom: 1em;
}

@media screen and (prefers-color-scheme: dark) {
	#blog-index-categorical > * {
		box-shadow: 0 0 0 1px inset rgba(255,255,255,.1);
	}
}

.blog-category {
	margin-bottom: 1em;
}
