article figure {
	text-align: center;
	display: block;
}

article figure img {
	max-width: 80%;
}

.fig-left,
.figure-left,
.fig-right,
.figure-right {
	width: 40%;
}

.fig-left,
.figure-left {
	float: left;
	clear: left;
	margin: 1em 2em 1em 0;
}

.fig-right,
.figure-right {
	float: right;
	clear: right;
	margin: 1em 0 1em 2em;
}

@media only screen and (max-width: 56em) {
  .fig-left,
  .figure-left,
  .fig-right,
  .figure-right {
		width: 50%;
	}
}

@media only screen and (max-width: 35em) {
  .fig-left,
  .figure-left,
  .fig-right,
  .figure-right {
		float: right;
		width: 100%;
		margin: 1em;
	}
}
