/* deathshadow reset */

html,body,div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,form,fieldset,caption,
table,tr,td,th,address,blockquote,img {
	margin:0;
	padding:0;
}

img, fieldset, object {
	border:none;
}

*, *:after, *:before {
	flex:1 0 auto; /* safari bugfix */
	box-sizing:border-box;
}

button, label {
	cursor:pointer;
	flex: 0;
}

html, body {
	height:100%;
}

hr {
	display:none;
}

body {
	line-height: 1.5;
}

button, input, table, textarea, select {
	font: inherit;
}

code, raw {
	font-size: 1em;
}

select, img {
	max-width: 100%;
}

/* we do a little trolling */

[id$="google-cache-hdr"]{
	position: fixed !important;
	width: 100% !important;
	z-index: 999 !important;
	bottom: 0 !important;
}

[id$="google-cache-hdr"] + * {
	padding-bottom:15em !important;
}

