body {
	background: #fff;
	color: #000;
}

header {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
	max-width: 32em;
}

a {
	color: #00f;
}

div:first-of-type {
	font-weight: bold;
	font-size: 3em;
}

div {
	margin-bottom: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background: #000;
		color:  #fff;
	}
	
	a {
		color: #ff0;
	}
}
