/* Normalize.css */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100% line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**************** end normalize.css ***************************************/

/* Font imports. sorry guys :/ */

@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

@font-face {
  font-family: 'MontserratMedium';
  src: url("https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/d815b0a29adf3450c55f56e2fb813be4/MontserratMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratMediumItalic';
  src: url("https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/f15ca5fe6efcb2893541ee7ad896c275/MontserratMediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MontserratBold';
  src: url("https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/9c71d42b6a840ecfda8fc555040a1c76/MontserratBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/81f56370a912bac75d5ad4bd3c52ac55/MontserratBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/*! Start of main CSS -Zumi */
/* treat semantic elements as divs */
header, footer {
  display: block;
}

/* make it a little easier to style stuff */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**********************************************/
/* Desktop / mobile */
html {
  background-attachment: fixed;
  background-color: #eb9100;
  background-image: url("top.jpeg");
  background-repeat: repeat-x;
}

body {
  position: relative;
  top: 1em;
  margin: auto;
  line-height: 1.7;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow-y: scroll;
}

@media screen and (max-width: 699px) {
  body {
    top: 0;
    margin: 0;
  }
}

@media screen and (min-width: 699px) {
  body {
    width: calc(100% - 16px);
  }
}

@media screen and (min-width: 800px) {
  body {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  body {
    width: 70%;
  }
}

footer, .contains, header {
  margin: -4px;
  border: 4px solid #fff;
  box-shadow: 0 32px 32px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 699px) {
  footer, .contains, header {
    margin: 0;
    border: 0;
    box-shadow: 0;
  }
}

article h2, article h1 {
  border-bottom: 2px solid #00a5ff;
}

article h4, article h3 {
  border-bottom: 2px dashed #00a5ff;
}

header {
  background-color: #000;
  background-image: url("heading.jpeg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 128px;
  padding: 8px;
  height: 136px;
  text-align: right;
  color: #fff;
  font-size: 0;
}

header h1:before {
  width: 10px;
  line-height: 1.3;
  white-space: pre-wrap;
  font-size: 24px;
  font-style: italic;
  content: "I don't know what\aI'm doing here lol";
}

@media screen and (max-width: 699px) {
  header h1:before {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  header {
    position: fixed;
    top: 0;
    background-size: auto 64px;
    width: 100%;
    height: 64px;
  }
}

.hidden {
  color: transparent;
  font-size: 0;
}

.contains {
  display: table;
}

#sidebar {
  display: table-cell;
  background-color: #595f9f;
  background-image: url("sidebarbg.jpeg");
  width: 10em;
  vertical-align: top;
  font-size: 1.1em;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #989cc6;
}

#sidebar::-webkit-scrollbar-track {
  background: #34385e;
}

@media screen and (max-width: 699px) {
  #sidebar {
    display: block;
    position: fixed;
    top: 64px;
    width: 100%;
    height: 2.4em;
    font-size: .9em;
    /* split overflow because browsers will break */
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#sidebar ul.mainentries {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul.mainentries li {
  margin: .25em 0;
  padding: 2px 8px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 2px 2px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 700;
}

#sidebar ul.mainentries li a {
  color: inherit;
}

#sidebar ul.mainentries li:hover ul.subentries {
  height: 10em;
}

#sidebar ul.mainentries>li {
  border-radius: 0 5px 5px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  background-color: #121212;
  background-image: url("sidebarlist.jpeg"), url("sidebarlistextend.jpeg");
  background-repeat: no-repeat, repeat-x;
}

@media screen and (max-width: 699px) {
  #sidebar ul.mainentries>li {
    display: inline-block;
    border-radius: 3px;
    padding: 0 6px;
  }
}

#sidebar ul.subentries {
  transition: height .6s;
  margin: 0;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.5);
  padding: 0;
  height: 0;
  /* split overflow because browsers will break */
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  font-size: .8em;
}

#sidebar ul.subentries li {
  background-color: transparent;
  font-weight: 400;
}

@media screen and (max-width: 699px) {
  #sidebar ul.subentries {
    position: fixed;
    top: 100px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    background-color: rgba(51, 51, 51, 0.9);
    font-size: 1em;
  }
}

#sidebar ul.subentries::-webkit-scrollbar {
  width: 10px;
}

#sidebar ul.subentries::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 204, 0.5);
}

#sidebar ul.subentries::-webkit-scrollbar-track {
  background: rgba(102, 102, 102, 0.5);
}

article {
  display: table-cell;
  background-color: #ddd;
  background-image: url("papier.gif");
  background-position: top left;
  padding: 16px 32px;
  width: 100%;
}

@media screen and (max-width: 699px) {
  article {
    display: block;
    top: 0;
    padding-top: 120px;
  }
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.3em;
}

article h4 {
  font-size: 1.1em;
}

article a {
  color: #aa6f0e;
}

article a:visited {
  color: #716966;
}

article blockquote {
  border-left: 4px solid #0065BF;
  padding-left: 8px;
}

article figure {
  display: block;
  margin: 10px auto;
  border: 1px inset grey;
  background: white;
  padding: 10px;
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 699px) {
  article figure {
    width: 40%;
  }
}

article figure img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: 100%;
}

article figure figcaption {
  font-style: italic;
}

article .toc {
  line-height: 1.45em;
  letter-spacing: -1px;
  font-family: "Fira Mono", monospace;
}

article .toc ul, article .toc ol {
  list-style: none;
  padding: 10px;
}

pre {
  white-space: pre-wrap;
}

input[id^="spoiler"] {
  display: none;
}

input[id^="spoiler"]+label {
  padding: 10px;
  background-color: #eb5a00;
  background: linear-gradient(to bottom, #ff8539 0%, #eb5a00 50%, #9f3d00 100%);
  color: white;
  cursor: pointer;
  border-radius: 7px 7px 0 0;
  box-shadow: 1px 3px 5px #00000020;
  user-select: none;
  width: 20em;
}

input[id^="spoiler"]:checked+label {
  background-color: #9f3d00;
  background: linear-gradient(to bottom, #eb5a00 0%, #9f3d00 50%, #521f00 100%);
}

input[id^="spoiler"]~.spoi-boi {
  margin-top: 12px;
  color: black;
  background: #ffffff80;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
  height: 0;
}

input[id^="spoiler"]:checked+label+.spoi-boi {
  transform: scaleY(1);
  display: block;
  height: auto;
  overflow: scroll;
  border-radius: 0 0 7px 7px;
}

input[id^="spoiler"]+label .spoiler-button-text:after {
  content: " (Click to see spoiler)";
  white-space: pre;
}

input[id^="spoiler"]:checked+label .spoiler-button-text:after {
  content: " (Lol spoiled)         ";
  white-space: pre;
}

input[id^="tldr"] {
  display: none;
}

input[id^="tldr"]+label {
  padding: 10px;
  background-color: #005aeb;
  background: linear-gradient(to bottom, #3985ff 0%, #005aeb 50%, #003d9f 100%);
  color: white;
  cursor: pointer;
  border-radius: 7px 7px 0 0;
  box-shadow: 1px 3px 5px #00000020;
  user-select: none;
  width: 20em;
}

input[id^="tldr"]:checked+label {
  background-color: #003d9f;
  background: linear-gradient(to bottom, #005aeb 0%, #003d9f 50%, #001f52 100%);
}

input[id^="tldr"]~.spoi-boi {
  margin-top: 12px;
  color: black;
  background: #ffffff80;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
  height: 0;
}

input[id^="tldr"]:checked+label+.spoi-boi {
  transform: scaleY(1);
  display: block;
  height: auto;
  overflow: scroll;
  border-radius: 0 0 7px 7px;
}

input[id^="tldr"]+label .spoiler-button-text:after {
  content: " (Click to see long text)";
  white-space: pre;
}

input[id^="tldr"]:checked+label .spoiler-button-text:after {
  content: " (TL;DR)                            ";
  white-space: pre;
}

footer {
  background-color: #000;
  padding: 4px;
  text-align: center;
  color: #ddd;
  font-size: .9em;
}

footer a {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffbd52;
}

::-webkit-scrollbar-track {
  background: #855200;
}

/* Print */
