@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


d {
	display: block;
}

html {
	margin: 0;
}

body {
	font-family: Inter, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	color: #383838;
	background-color: #fff;
}

/*
body:before {
	content: "";
	height: 1000%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-image: linear-gradient(blue 0px, blue 16px, red 16px);
	background-size: 100% 32px;
	opacity: .3;
	box-shadow: none;
}

*, *:before, *:after {
	box-shadow: 0 0 0 1px inset black;
}
*/

.heading, .subheading {
	font-weight: bold;
	padding: 8px 0;
	line-height: 48px;
}

.heading {
	font-size: 32px;
	letter-spacing: -1px;
}

.heading--color {
	background-image: linear-gradient(170deg, #af1406, #ff6406 40%);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.subheading {
	font-size: 24px;
	margin-top: 16px;
}

.paragraph {
	margin: 8px 0;
	line-height: 32px;
}

.section {
	margin: auto;
	padding: 32px 64px;
	max-width: 1200px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.menu-bar {
	background: #ff6406;
	box-shadow: 0 6px 24px #fa7;
	height: 64px;
	margin-bottom: 64px;
	width: 100%;
}

.menu-bar__title {
	color: #fff;
	font-weight: 800;
	line-height: 64px;
	font-size: 20px;
	margin-left: 32px;
	display: inline-block;
}

.quote-list {
	display: flex;
	justify-content: space-around;
	min-height: 256px;
}

.quote-list__quote {
	margin: 16px;
	box-shadow: 0 8px 24px #ccc;
	padding: 16px 24px;
	border-radius: 10px;
	flex-basis: 100%;
}

.quote {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 28px;
}

.quote:before {
	content: "\201c";
	position: absolute;
	top: 24px;
	left: 8px;
	font-size: 36px;
	font-weight: bold;
	line-height: 0;
	color: #0088ff;
}

.quote__text {
	font-size: 20px;
	height: 100%;
	margin-bottom: 16px;
	font-weight: 600;
	color: #000;
}

.quote__author {
	display: flex;
	margin-right: 8px;
}

.quote__author:before {
	content: "-";
	margin-right: 8px;
	color: #aaa;
}

.code, .code-block {
	font-family: monospace;
	white-space: pre;
	overflow: auto;
	background-color: #eee;
	border-radius: 8px;
	padding: 3px 6px;
}

.code {
	white-space: break-spaces;
}

.code-block {
	margin: 8px;
	box-shadow: 0 10px 30px #eef;
}

.comparison {
	display: flex;
	max-width: 100%;
	margin-bottom: 36px;
}

.comparison__old, .comparison__new {
	max-width: 50%;
	height: 100%;
}

.comparison__old .comparison__heading {
	color: #a00;
}

.comparison__new .comparison__heading {
	color: #080;
}

.comparison__heading {
	text-align: center;
	font-weight: bold;
	line-height: 32px;
}

.logo {
	margin: auto;
	margin-bottom: -7px;
	max-width: 100%;
}

a[href] {
	color: inherit;
}

.a-word-from-our-sponsor {
	background: #222;
	color: #fff;
	margin: 0;
	padding: 40vh 0;
	font-size: 1.5em;
	position: relative;
}

.a-word-from-our-sponsor > div {
	max-width: 25em;
	margin: auto;
}

.a-word-from-our-sponsor * {
	text-align: center;
}

.a-word-from-our-sponsor:before {
	content: "";
	display:block;
	height: 4em;
	width: 100%;
	position: absolute;
	background-image: url("torn.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: -1em;
	left: 0;
	
}

hr {
	border: none;
	height: 2px;
	background-color: transparent;
	background-image: linear-gradient( to right,
		transparent 0%,
		#ddd 50%,
		transparent 100%
	);
	display: block;
	margin: 7px 0;
}

@media screen and (max-width: 900px) {
	.a-word-from-our-sponsor {
		padding: 20vh 2em;
	}
	
	.quote-list {
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	.comparison {
		flex-direction: column;
	}
	.comparison__old, .comparison__new {
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.section {
		padding: 32px 24px;
	}
}

@media screen and (max-width: 500px) {
	.quote-list__quote {
		margin: 16px 0;
	}
}

.intro:before {
	content: "";
	background: #ff6406;
	opacity: .1;
	z-index: -10;
	width: 100%;
	height: 256px;
	position: absolute;
	top: -64px;
	left: 0;
	transform: skew(0, -4deg);
	display: block;
}

.sponsortext {
	margin-top: 64px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	mask-image: linear-gradient(170deg, black, transparent 90%, transparent);
	-webkit-mask-image: linear-gradient(170deg, black, transparent 90%, transparent);
}

.blurb {
	padding: 16px 24px;
	background-color:#def;
	border-radius: 10px;
}

small {
	font-size: .6em;
}

@media screen and (prefers-color-scheme:dark){
	body {
		color: #fff;
		background-color: #150011;
	}

	.logo {
		filter: invert(.5) brightness(1.75);
	}

	.menu-bar {
		box-shadow: 0 6px 24px #422;
	}

	.quote-list__quote {
		background-image: linear-gradient(#422, transparent);
		background-size: 100% 200%;
		box-shadow: none;
	}

	.quote__text {
		color: #fff;
	}

	.code, .code-block {
		background-color: #2a1515;
	}

	.code-block {
		box-shadow: 0 10px 10px rgba(0,0,0,.3)
	}

	.comparison__old .comparison__heading {
		color: #f44;
	}

	.comparison__new .comparison__heading {
		color: #4c4;
	}

	.blurb {
		background-color: #1a2147;
	}

	.blurb .code {
		background-color: #fff;
		color: #000;
	}

	.a-word-from-our-sponsor:before {
		background-image: linear-gradient(#150011, #000);
	}

	.a-word-from-our-sponsor {
		background: #000;
	}

	hr {
		opacity: .2;
	}
}
