/* fonts */
@font-face {
  font-family: 'Material Symbols Partial';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/_assets/webfonts/mdicons.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_b.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_bi.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_sb.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_sbi.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_r.woff') format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/_assets/webfonts/pjs_i.woff') format('woff');
}

