body {
	font-family: Roboto, Arial, sans-serif;
	--primary-bg: #8c4f00;
	--primary-fg: #ffffff;
	
	--primary-container-bg: #ffdcbf;
	--primary-container-fg: #2d1600;
	
	--secondary-bg: #845400;
	--secondary-fg: #ffffff;
	
	--secondary-container-bg: #ffddb6;
	--secondary-container-fg: #2a1800;
	
	--tertiary-bg: #0061a6;
	--tertiary-fg: #ffffff;
	
	--tertiary-container-bg: #d2e4ff;
	--tertiary-container-fg: #001c37;
	
	--main-bg: #fffbff;
	--main-fg: #2c1700;
	
	--fg-transparent: rgba(0, 0, 0, .3);
	
	--outline: #837469;
	color: var(--main-fg);
	background: var(--main-bg);
}

@media screen and (prefers-color-scheme: dark) {
	body {
		--primary-bg: #ffb874;
		--primary-fg: #4b2800;
		
		--primary-container-bg: #6b3b00;
		--primary-container-fg: #ffdcbf;
		
		--secondary-bg: #ffb959;
		--secondary-fg: #462a00;
		
		--secondary-container-bg: #643f00;
		--secondary-container-fg: #ffddb6;
		
		--tertiary-bg: #a0c9ff;
		--tertiary-fg: #00325a;
		
		--tertiary-container-bg: #00497f;
		--tertiary-container-fg: #d2e4ff;
		
		--main-bg: #2c1700;
		--main-fg: #ffdcbb;
		
		--outline: #9e8e81;
		
		--fg-transparent: rgba(255, 255, 255, .2);
	}
	
	#mailtxt {
		filter: invert(1);
	}
}

a {
	color: var(--primary-bg);
}

.container {
	display: flex;
}

.container > * {
	margin-right: auto;
}

