header {
	max-width: 6em;
	background: var(--tertiary-container-bg);
	text-align: center;
	min-height: calc(100vh - 3rem);
}

#main-menu {
	position: fixed;
	top: 0;
	left: 4em;
	transform: translateX(-50%);
	width: 6em;
	font-size: .75em;
	font-weight: bold;
}

#main-menu li {
	margin: 1.5em 0;
	list-style-type: none;
}

#main-menu a {
	position: relative;
}

#main-menu a:before {
	background: var(--tertiary-container-fg);
	opacity: 0;
	display: block;
	content: '';
	width: 5em;
	height: 3em;
	position: relative;
	left: .5em;
	margin-bottom: .5em;
	border-radius: 2em;
	transition: .3s opacity;
}

#main-menu a:hover:before {
	opacity: .1;
}

#main-menu li.selected a:before {
	background: var(--tertiary-container-fg);
	opacity: .3;
}

#main-menu a:after {
	font-family: 'Material Symbols Partial';
	display: block;
	position: absolute;
	top: 0;
	left: -.5em;
	font-size: 2em;
}

#main-menu a {
	color: var(--main-fg);
	text-decoration: none;
}

#main-menu .selected {
	opacity: 1;
}

#main-menu .selected a:before {
	animation: .3s select-in;
}

@keyframes select-in {
	0% { transform: scaleX(0); opacity: 0; }
	100% { transform: scaleX(1); }
}

h1 {
	font-size: 3em;
	position: absolute;
	text-align: center;
	color: var(--primary-container-fg);
	background-color: var(--primary-container-bg);
	background-image: linear-gradient(
		-45deg, var(--primary-container-bg), var(--main-bg)
	);
	display: block;
	width: 100%;
	left: 0;
	padding: 1em 0;
	z-index: -1;
}


