/* unselected (outlined) */
#main-menu li:nth-of-type(1) a:after {
	content: 'a'; /* home */
}

#main-menu li:nth-of-type(2) a:after {
	content: 'b'; /* about */
}

#main-menu li:nth-of-type(3) a:after {
	content: 'c'; /* bloge */
}

#main-menu li:nth-of-type(4) a:after {
	content: 'd'; /* stuff */
}

#main-menu li:nth-of-type(5) a:after {
	content: 'e'; /* bookmarks */
}

#main-menu li:nth-of-type(6) a:after {
	content: 'f'; /* tutorials */
}

/* selected (filled) */
#main-menu li:nth-of-type(1).selected a:after {
	content: 'A'; /* home */
}

#main-menu li:nth-of-type(2).selected a:after {
	content: 'B'; /* about */
}

#main-menu li:nth-of-type(3).selected a:after {
	content: 'C'; /* bloge */
}

#main-menu li:nth-of-type(4).selected a:after {
	content: 'D'; /* stuff */
}

#main-menu li:nth-of-type(5).selected a:after {
	content: 'E'; /* bookmarks */
}

#main-menu li:nth-of-type(6).selected a:after {
	content: 'F'; /* tutorials */
}

