footer {
	position: fixed;
	bottom: -8.3em;
	left: 0;
	width: 100%;
	background: var(--tertiary-bg);
	color: var(--tertiary-fg);
	font-size: .8em;
	text-align: center;
	transition: .6s bottom;
	font-weight: bold;
}

footer a {
	color: var(--tertiary-fg);
}

footer:hover {
	bottom: 0;
}

footer .row {
	display: flex;
	border-top: 1px solid #333;
	padding: .5em;
}

footer .lhs {
	text-align: left;
}

footer .rhs {
	text-align: right;
}

footer .rhs ul {
	list-style-type: none;
}

