h1,h2,h3,h4,h5,h6 {
	font-family: 'Plus Jakarta Sans', Roboto, Arial, sans-serif;
}

h2 {
	font-size: 3em;
	font-weight: 600;
	line-height: 1.25;
	padding-top: .1em;
	padding-bottom: .5em;
}

h2 + *:not(ul) {
	font-size: 1.375em;
}

h3 {
	margin: 1.25em 0;
	font-size: 1.8em;
	font-weight: 600;
}

h4 {
	font-size: 1em;
}

p {
	margin-top: .25em;
	margin: 1em 0 1.5em 0;
	line-height: 1.75em;
}

