#contents {
	position: relative;
	padding: 13em 9em 20em 9em;
	width: 0;
	max-width: 110em;
}

@media screen and (max-width: 66em) {
	#contents {
		padding: 13em 5% 20em 5%;
	}
}

#contents ul {
	margin-left: 1.5em;
}

#contents li {
	margin-bottom: 1em;
}

figure img {
	border-radius: 1em;
	border: 1px solid var(--outline);
}

figcaption {
	font-size: .875em;
	margin: .5em;
	opacity: .9;
}

#blog-index-categorical {
	columns: 32em;
}

#blog-index-categorical div {
	background-color: var(--secondary-container-bg);
	box-shadow: none;
	border-radius: 2em;
	transition: .4s border-radius;
	padding: 1em 2em;
}

#blog-index-categorical, #blog-index-categorical a {
	color: var(--secondary-container-fg);
}

#blog-index-categorical div:hover {
	border-radius: 4em;
}

#blog-index-categorical h3 {
	text-align: center;
	margin: 0;
	font-size: 1.5em;
	margin-bottom: 1em;
}

#blog-index-categorical ul {
	margin: 0;
	list-style: none;
}

pre {
	background-color: var(--primary-container-bg);
	padding: 1em 1.5em;
	border-radius: 1.5em;
}

blockquote {
	background-color: var(--primary-container-bg);
	padding: 1em 1.5em;
	border-radius: 1.5em;
	border: 1px solid var(--outline);
}


select {
	background-color: var(--tertiary-container-bg);
	color: var(--tertiary-container-fg);
	border: 1px solid var(--outline);
	padding: .5em;
	border-radius: 1em;
}

button, input[type=button] {
	background-color: var(--primary-container-bg);
	color: var(--primary-container-fg);
	border: 1px solid var(--outline);
	padding: .5em 1em;
	border-radius: 1em;
}
