@media screen and (max-width: 48em) {
/* TODO TODO TODO */
	#contents {
		padding: 5em 2em;
		max-width: none;
		width: 100%;
	}

	.container {
		display: block;
	}
	
	header {
		max-width: 100%;
		min-height: 0;
		height: 3.5rem;
		width: 100%;
		position: fixed;
		z-index: 1;
		background: var(--primary-container-bg);
		text-align: left;
	}

	h1 {
		background: none;
		position: static;
		font-size: 1em;
	}
	
	#main-menu {
		z-index: 1;
		transform: none;
		font-size: 1em;
	}
	
	footer {
		z-index: 2;
	}

	#main-menu a:before {
		left: -3.5em;
		width: 10.5em;
		height: 2.5em;
		top: -.5em;
		position: absolute;
	}

	#main-menu a:after {
		left: -1.6em;
		top: -.25em;
		font-size: 1.5em;
	}
	
	#main-menu ul {
		background: var(--tertiary-container-bg);
		position: fixed;
		left: -12em;
		height: calc(100vh - 3em);
		width: 12em;
		border-radius: 0 3em 3em 0;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		transition: .2s left;
		padding-left: 4em;
	}
	
	#main-menu ul li:first-of-type {
		margin-top: 4em;
	}
	
	#mobile-toggle:checked + label + ul {
		left: 0;
	}
	
	#mobile-toggle + label:hover:before {
		background: var(--fg-transparent);
	}
	
	#mobile-toggle + label:before {
		display: block;
		width: 3rem;
		height: 3rem;
		content: 'G';
		font-family: 'Material Symbols Partial';
		line-height: 3.0rem;
		font-size: 1.5rem;
		position: fixed;
		top: .25rem;
		left: 1rem;
		z-index: 2;
		border-radius: 100%;
		text-align: center;
	}

	#mobile-toggle:checked + label:before {
		content: 'H';
	}
}

