html {
  height: 100%;
  font-family: "Montserrat", "Helvetica", "Arial", "Arimo", "Liberation Sans", sans-serif;
}

body {
  background: #eb9100;
  background-image: url('top.jpeg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  width: 800px;
  margin: 2% auto;
}

.main {
  background: #fff;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.5);
  padding: 1px 0;
}

.main * {
  margin: 5px;
}

#header {
  background: black;
  background-image: url('heading.jpeg');
  background-repeat: no-repeat;
  height: 96px;
  color: white;
  text-align: right;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#sidebar {
  float: left;
  margin: 0;
  width: 140px;
  font-size: 16px;
  overflow: hidden;
}

#contents {
  overflow: auto;
  background: white;
  background-image: url('papier.gif');
  min-height: 35em;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0;
}

#contents p {
  color: black;
  text-indent: 3em;
  line-height: 1.5em;
  margin-top: 0.5em;
}

#contents h1, #contents h2, #contents h3, #contents h4, #contents h5, #contents h6 {
  letter-spacing: 1px;
}

#contents h1 {
  border-bottom: 2px solid #00A5FF;
}

#contents h2, #contents h3 {
  border-bottom: 2px dashed #0065BF;
}

#contents h1 {
  font-size: 1.7em;
}

#contents h2 {
  font-size: 1.4em;
}

#contents h3 {
  font-size: 1.2em;
}

#footer {
  background: black;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  line-height: 12px;
}

#footer a {
  color: white;
}

.nav {
  list-style-type: none;
  margin: -3px -10px;
  padding: 0;
}

.nav1o {
  color: white;
  background: #121212;
  background-image: url('sidebarlist.jpeg'), url('sidebarlistextend.jpeg');
  background-repeat: no-repeat, repeat-x;
  text-decoration: none;
  display: block;
  list-style: outside none square;
  padding: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.nav2 {
  position: relative;
  top: 0;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: -2px 4px;
  transition: 0.6s all;
}

.nav2o {
  display: block;
  list-style: outside none square;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  color: white;
  text-shadow: 0px 0px 0 #272a4a,
    1px 1px 0 #272a4a,
    2px 2px 0 #272a4a,
    3px 3px 0 #272a4a,
    4px 4px 0 #272a4a,
    5px 5px 0 #272a4a;
  font-size: 14px;
}

li:hover>.nav2 {
  height: 18em;
}

.columns {
  background: #595f9f;
  background-image: url('sidebarbg.jpeg');
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  #header {
    font-size: 0px;
    height: 48px;
    background-size: auto 90px;
  }

  #sidebar {
    float: none;
    width: 100%;
    text-align: center;
  }

  .nav {
    padding: 0 1%;
    overflow-x: scroll;
  }

  .nav li {
    display: table-cell;
    width: auto;
    padding: 0 10px
  }

  .nav1o, .nav2o {
    width: 100%;
  }

  .nav1o {
    font-size: 15px;
  }

  .nav2 {
    font-size: 13px;
    width: 150px;
    position: absolute;
    right: 0%;
    top: 130px;
    background: #595f9f;
    background-image: url('sidebarbg.jpeg');
    border: 0px solid #121212;
  }

  li:hover>.nav2 {
    height: 20em;
    border: 3px solid #121212;
  }
}
