/* last-archived: 2019-06-20 17:12:44 */
/* modified: 2021-11-14 (fix  links) */

html {
  background-color: rgb(235, 145, 0);
  background-image: url("TopL.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

body {
  width: 80%;
  margin-left: 3%;
  margin-right: 15%;
  padding: 4px;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0 0 0 10px #FFFFFF inset, 0 0 0 2px #000 inset, 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 10px #FFFFFF inset, 0 0 0 2px #000 inset, 0 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0.5em;
  border-radius: 4px;
}

#footer {
  background: black;
  color: white;
  padding: 1%;
  margin: 0;
  font-size: 0.75em;
}

#footer a {
  color: white;
}

p {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

#maincontent {
  padding: 2%;
  background-color: #595F9F;
  z-index: 0;
  position: relative;
  margin-top: -1.6em;
}

#inside {
  padding: 1% 4% 2% 4%;
  background-color: #FFFFFF;
  -moz-box-shadow: 0 0 20px 3px black;
  /*Firefox?*/
  -webkit-box-shadow: 0 0 20px 3px black;
  /*Chromium, Safari, Google Chrome*/
  box-shadow: 0 0 20px 3px black;
  border-radius: 10px;
}

/*Main heading stuff*/
#navbar {
  padding-left: 5%;
  height: 30px;
  font-size: 1.25em;
  background-color: #222222;
  z-index: 1;
  position: relative;
  -moz-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.5);
  /*Firefox?*/
  -webkit-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.5);
  /*Chromium, Safari, Google Chrome*/
  box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.5);
  list-style-type: none;
  margin: 0
}

#navbar li {
  float: left;
  padding: 2px 1em;
  border-right: 1px solid #ccc;
  color: white;
  -moz-transition: 0.5s;
  /*.*/
  -webkit-transition: 0.5s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.5s;
  /*Presto, Opera*/
  transition: 0.5s;
}

#navbar li:hover {
  color: black;
  background-color: #bababa;
}

#navbar div {
  text-align: center;
  opacity: 0;
  margin: 20px 0 0 0;
  position: absolute;
  top: 6px;
  font-size: 0.75em;
  width: 0;
  height: 0;
  z-index: 2;
  background-color: #404040;
  visibility: hidden;
  -webkit-transition: 0.3s;
  /*Chromium, Safari, Google Chrome*/
  -o-transition: 0.3s;
  /*Presto, Opera*/
  transition: 0.3s;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 9px;
  /*Chromium, Safari, Google Chrome*/
  border-radius: 9px;
}

#navbar div p a {
  padding: 0.2em 0.8em;
  border-radius: 4px;
  transition: 0.2s;
  color: white;
}

#navbar div p a:hover {
  color: white;
  background-color: #101010;
  text-shadow: 0 0 10px white;
}

#navbar li:hover>div {
  opacity: 1;
  top: 8px;
  visibility: visible;
  height: 10em;
  width: 20em;
  overflow-y: scroll;
}

#navbar li a {
  color: black;
  text-decoration: none;
}

#navbar li a:hover {
  color: #c00;
}

.logo {
  background: #111111;
  /* Old browsers */
  background: url('windows_nt_sky_by_sequency.jpg');
  background-size: 100% 45%;
  background-attachment: fixed;
  padding-top: 1em;
  padding-bottom: 1em;
}

#logo {
  width: 300px;
}

/*Headings*/
h1, h2, h3, h4, h5, h6 {
  border-bottom: 3px solid rgb(0, 165, 255);
  font-style: bold;
  letter-spacing: -1px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

/*Headings (no CSS)*/
.h1-nocss {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h2-nocss {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h3-nocss {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h4-nocss {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h5-nocss {
  display: block;
  font-size: 0.83em;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.h6-nocss {
  display: block;
  font-size: 0.67em;
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

/*List Wrapper*/
ul {
  list-style: square;
}

/*stolen from wikia, snort*/
.comment {
  vertical-align: bottom;
  box-shadow: 0 0 5px 0px #75797a;
  -webkit-box-shadow: 0 0 5px 0px #75797a;
  background-color: #012e59;
  background-image: -moz-linear-gradient(top, #02488b 35%, #012e59 65%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(35%, #02488b), color-stop(65%, #012e59));
  background-image: -o-linear-gradient(top, #02488b 35%, #012e59 65%);
  background-image: -ms-linear-gradient(top, #02488b 35%, #012e59 65%);
  -webkit-border-radius: 4px;
  /*Chromium, Safari, Google Chrome*/
  border-radius: 4px;
  color: white;
  margin: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.comment a {
  color: white;
  text-decoration: underline
}

#mobile {
  display: none;
}

/* MOBILE AND SMALL DISPLAYS*/
@media screen and (max-width: 768px) {
  html {
    background: rgb(235, 145, 0);
  }

  #navbar {
    background: black;
    letter-spacing: 0;
    height: auto;
    padding-bottom: 0.2em;
    padding-top: 0.1em;
  }

  body {
    margin: auto;
  }

  #navbar li {
    float: none;
    padding: 2px 1em;
    border-right: none;
    color: white;
  }

  #navbar li:hover {
    background: black;
    color: white;
  }

  #navbar div {
    visibility: visible;
    opacity: 1;
    top: -16px;
    margin-bottom: -1.2em;
    width: auto;
    position: relative;
    /*
		height:8em; // freaking opera mini...
			overflow-y: scroll;*/
  }

  #navbar li:hover>div {
    top: -16px;
    height: 8em;
    width: auto;
    overflow-y: scroll;
  }

  img {
    width: 75%;
    height: 75%;
  }

  #logo {
    width: 75%;
    height: 75%;
  }

  #mobile {
    display: initial;
  }
}
