table, img {
	margin: auto;
}
img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
table {
	background-color: rgba(0,0,0,.6);
	border: 4px outset #aaa;
	margin: 1em auto;
	overflow: hidden;
	max-width: 100%;
}
td,  th {
	border: 2px ridge #aaa;
}
td, th {
	padding: .2em .6em;
}
*:target {
	animation: 1s glow;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
@keyframes glow {
	0% {
		box-shadow: 0 0 0 4px #ff0;
	}
	100% {
		box-shadow: 0 0 0 #ff0;
	}
}
body {
	padding: .5em 1.5em;
	line-height: 1.5;
	color: #fff;
	background: url('flowers.gif');
}
h1 {
	text-align:center;
}
h1 > span {
	display: block;
}
h1 > span:nth-child(2) {
	font-size: 0;
}
h1 > span:last-child {
	font-size: .7em;
	letter-spacing: .1em;
	border-top: 2px solid red;
}
li {
	margin-bottom: .5em;
}
a {
	color: #f98;
}
p, ul {
	background-color: rgba(0,0,0,.6);
	padding: .5em .5em;
	margin: 0 -.5em;
}
ul {
	margin-left: 1em;
}
code {
	background: #000;
	border: 1px solid #333;
	padding: .2em .3em;
}
tr > td:nth-of-type(1) {
	font-family: monospace;
}
#menu {
	text-align: center;
	display: flex;
	margin: auto;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	margin-top: -1em;
}
#menu li {
	display: block;
	margin: 0 .125em;
}
#menu li:not(:last-of-type):after {
	content: " | "
}
a[href="#"] {
	font-size: 1rem;
}
#changelog {
	background: rgba(0,0,0,.8)
}
#changelog ul {
	background: none;
	padding: 0;
	list-style-type: '- ';
}
h1 {
	text-shadow: 5px 5px 0 #666;
}
main, section {
	max-width: 64em;
	margin: auto;
}
@media screen and (max-width: 48em) {
	#menu li:not(:last-of-type):after {
		content: "";
	}
	#menu {
		flex-direction: column;
	}
	body {
		padding: .5em .5em;
	}
}
html {
	scroll-behavior: smooth;
}
