html, body, address, blockquote, div,
form, fieldset, caption,
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, ul,
table, tr, td, th, p, img {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: none;
}

table {
  font-size: 100%;
  line-height: 150%;
}

hr {
  display: none;
}

/***************************/
body {
  background-color: #111;
  background-image: url(https://www.ppt-backgrounds.net/uploads/dark-tumblr---wallpaper-PPT.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  line-height: 1.5em;
  font-family: sans-serif;
}

pre {
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, .3);
  padding: .4em;
  overflow: auto;
}

.container {
  display: flex;
  width: 80%;
  padding-top: 2.4em;
  margin: auto;
}

.container>* {
  flex-grow: 1;
}

header {
  background-color: #aaa;
  color: #222;
  max-width: 22em;
  border-radius: 3px;
  margin-right: 1em;
  font-size: .8em;
  box-shadow:
    0 2px 4px inset white,
    0 4px 10px black;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
  flex-grow: 0;
  position: fixed;
  top: 3em;
}

h1, h2, h3 {
  line-height: 1.4em;
  margin-bottom: .2em;
  font-family: Georgia, serif;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid white;
  padding: 1rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

.card h2, h3 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
}

header .-description {
  padding: 1rem;
}

header span {
  display: block;
  font-size: .8em;
  line-height: 2em;
}

.card {
  margin-left: 19em;
  border-radius: 6px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 1.8em;
  margin-bottom: 1.2em;
  box-shadow:
    0 2px 4px inset rgba(255, 255, 255, .1),
    0 4px 10px black;
}

@media screen and (max-width: 80em) {
  .container {
    flex-direction: column;
  }

  header {
    max-width: initial;
    position: initial;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .card {
    margin-left: 0;
  }
}

@media screen and (max-width: 40em) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 36em) {
  .card footer {
      flex-direction: column;
  }
}

.card footer {
  background-color: #222;
  overflow: hidden;
  padding: .2em .8em;
  text-align: right;
  font-size: .9em;
  display: flex;
  align-items: center;
  align-content: space-between;
  font-family: monospace;
}

.card footer>* {
  margin: 0 .5em;
}

.card footer time {
  text-align: left;
  flex-grow: 1;
}

.card .-post {
  padding: .5em .8em;
  padding-top: 1em;
  border-left: 1em solid #333;
  border-right: 1em solid #333;
}

ul {
  margin-left: 2em;
}

a {
  opacity: .7;
  color: inherit;
}

p {
  margin-bottom: .5em;
}

li {
  margin-bottom: .2em;
}

blockquote {
  border-left: .3em solid white;
  padding-left: .6em;
  padding-top: .3em;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 .3em .5em rgba(0, 0, 0, .2);
}

img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
}
.-post ul, .-post ol {
margin-left: 2em;
}