footer {
  display: none;
}
#main-menu {
  display: none;
}
h1 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.article-date {
  text-align: center;
  display: block;
}

h2 {
  text-align: center;
}

body {
  padding: .5cm 1cm;
  line-height: 1.5;
}

.blog-category  {
  display: none;
}

.readtime {
	display: none;
}