/* fonts */
@font-face {
	font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Regular'), url('../_assets/webfonts/ds.woff') format('woff');
}

@font-face {
	font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), url('../_assets/webfonts/ds_b.woff') format('woff');
}
