
/* start borrow
 *
 * Holo Web CSS (c) 2012-2015, 2021 Zachary Yaro
 * http://holo.zmyaro.com/LICENSE.txt 
 */
button, input[type="button"], input[type="submit"], input[type="reset"], select {
	margin: 6px;
    padding: 4px 12px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 1px;
	outline-style: none;
	outline-width: 0px;
	font: inherit;
}

option {
	font: inherit;
	background-color: #000;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #262626;
    border-left-color: #262626;
    border-right-color: #262626;
    border-top-color: #4F4F4F;
    border-bottom-color: #2A2A2A;
    box-shadow: 0 -1px 0 0 rgb(51 51 51 / 12%);
    color: white;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active{
    background-color: #94B2F2;
    border-left-color: #94B2F2;
    border-right-color: #94B2F2;
    border-top-color: #A2B9E8;
    border-bottom-color: #768CB8;
    box-shadow: 0 1px 0 0 rgb(89 127 203 / 48%), 0 0 0 4px rgb(102 153 255 / 41%);
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus,
select:focus{
    box-shadow: 0 -1px 0 0 rgb(51 51 51 / 12%), 0 0 0 2px rgb(153 204 0 / 50%);
}

select {
	background: linear-gradient(315deg, rgba(204, 204, 204, 0.6) 8px, rgba(0,0,0,.6) 9px);
	border-bottom-color: rgba(204, 204, 204, 0.3);
	color: #fff;
	border-width: 0 0 1px 0;
	appearance: none;
}

select:active {
    background-color: #192640;
    background-color: rgba(102, 153, 255, 0.25);
    background: linear-gradient(315deg, rgba(189, 196, 212, 0.7) 8px,  #192640 9px);
    border-bottom-color: #4F586A;
    box-shadow: 0 0 0 4px rgb(102 153 255 / 25%);
}
/* end borrow */
