#mailtxt{
	filter: invert(1);
}

article figure {
	margin: 1em 0;
	padding: .5em;
}

article figure img {
	box-shadow: 0 0 7px var(--glow);
	transition: .1s linear box-shadow;
}

article figure img:hover {
	box-shadow: 0 0 21px var(--glow);
}

article figure figcaption {
	font-style: oblique;
}

.fig-left,
.figure-left {
	margin: 1em 2em 1em 0;
}

.fig-right,
.figure-right {
	margin: 1em 0 1em 2em;
}


