body {
	font-family: Roboto, Arial, sans-serif;
	--content-padding: 8%;


	--accent-color-dark: #e3581d;
	--accent-color-mid: #ed701f;
	--accent-color-light: #ffb859;

	--header-bg: var(--accent-color-mid);
	--header-accent: var(--accent-color-light);
	--header-fg: #fff;

	--main-bg: #fff;
	--main-fg: #000;
	--main-bg-accent: #fff3e2;
	
	background-color: var(--main-bg);
	color: var(--main-fg);
}

header {
	background: var(--header-bg);
	color: var(--header-fg);
	box-shadow: 0 1px 16px rgba(0,0,0,.8);
	padding: 0 var(--content-padding);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header-content {
	display: flex;
	align-items: center;
	height: 4.5em;
}

#main-menu {
	flex-grow: 0;
}

#main-menu ul{
	display: flex;
	text-align: center;
	list-style-type: none;
}

header h1 {
	flex-grow: 1;
	font-size: 1.25em;
	font-weight: 500;
}

#main-menu li{
	flex-grow: 0;
	margin-left: 1em;
}

#main-menu li a {
	color: inherit;
	text-decoration: none;
	padding: 1.8em 0;
	position: relative;
	opacity: .8;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 500;
}

#main-menu li a:hover {
	opacity: 1;
}

#main-menu li a:after {
	content: "";
	background: var(--header-accent);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	transform: scaleX(0);
	transition: .3s transform;
	transform-origin: right;
}

#main-menu li a:hover:after {
	transform: scaleX(1);
	transform-origin: left;
}

#main-menu li.selected a:after {
	transform: scaleX(1);
	transform-origin: left;
}
#main-menu li.selected a {
	opacity: 1;
}

#contents {
	padding: 1em var(--content-padding);
	padding-top: 5.5em;
	line-height: 1.5;
}

p {
	padding: 1em 0;
	opacity: .8;
}

footer {
	padding: 2em 0;
	border-top: 1px solid #ccc;
	margin: 0 var(--content-padding);
	font-size: .9em;
}

footer a {
	color: inherit;
}

footer ul {
	list-style-type: none;
}

.row .chs {
	text-align: center;
}

.row .rhs {
	text-align: right;
}

.row {
	display: flex;
	margin-bottom: 1em;
}

h2 {
	font-size: 2em;
	font-weight: 400;
	opacity: .8;
	line-height: 1.2;
	letter-spacing: -.02em;
	margin: 1rem 0;
}

h3 {
	margin: 1rem 0;
	font-size: 1.5em;
	opacity: .8;
	font-weight: 400;
	line-height: 1.2;
}

#contents a {
	color: inherit;
	opacity: .8;
}

#contents a:hover {
	opacity: .6;
}

.readtime {
	margin: 1em 0;
	display: block;
	opacity: .5;
}

#contents ul {
	margin-left:  2em;
}

#contents > ul {
	opacity: .7;
}

pre {
	padding: 1em;
	background-color: var(--main-bg-accent);
	border-radius: 5px;
}

select {
	padding: .5em .75em;
	border: none;
	background-color: var(--main-bg-accent);
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid var(--accent-color-mid);	
}

select option {
	background-color: var(--main-bg);
	color: var(--main-fg);
}

button, submit, input[type=button]{
	background-color: var(--accent-color-mid);
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	padding: .5em 1em;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	transition: .4s background-color;
}

button:hover, submit:hover, input[type=button]:hover{
	background-color: var(--accent-color-light);
	cursor: pointer;
}
