@media screen and (prefers-color-scheme: dark) {
	body {
		font-family: Roboto, Arial, sans-serif;
		--content-padding: 8%;


		--accent-color-dark: #e3581d;
		--accent-color-mid: #ed701f;
		--accent-color-light: #ffb859;

		--header-bg: var(--accent-color-mid);
		--header-accent: var(--accent-color-light);
		--header-fg: #fff;

		--main-bg: #141414;
		--main-fg: #fff;
		--main-bg-accent: #4b0400;
	}
	
	select { color: #fff; }
	
	#mailtxt {
		filter: invert(1);
	}
}
