/* menu */
@media screen and (max-width: 40em) {
	#mobile-toggle + label:before,
	#mobile-toggle + label:after,
	#mobile-toggle + label {
	  display: block;
	  position: fixed;
	  content: "";
	  background: transparent;
	  border-left: .2em solid var(--header-fg);
	  width: 1em;
	  height: 1.3em;
	  transition: .5s all;
	  z-index: 10;
	  -webkit-tap-highlight-color: transparent;
	}
	#mobile-toggle + label {
	  top: 2em;
	  left: 2em;
	  transform: rotate(90deg);
	}
	#mobile-toggle + label:before{
	  top: 0;
	  left: -.7em;
	  transform-origin: top;
	}
	#mobile-toggle + label:after{
	  top: 0;
	  left: .3em;
	  transform-origin: top;
	}

	#mobile-toggle:checked + label {
	  border-color: transparent;
	}
	#mobile-toggle:checked + label:before{
	  transform: translateX(.0em) rotate(-45deg);
	  border-color: var(--main-fg);
	}
	#mobile-toggle:checked + label:after{
	  transform: translateX(-.07em) translateY(.55em) rotate(45deg);
	  border-color: var(--main-fg);
	}

	header h1 {
	  text-align: center;
	}

	#main-menu ul {
	  flex-direction: column;
	  position: fixed;
	  top: 0;
	  left: 0;
	  background-color: var(--main-bg);
	  box-shadow: 0 0 5px black;
	  height: 100vh;
	  transform: translateX(-100%);
	  padding-top: 4em;
	  transition: .5s transform, .6s opacity;
	  opacity: 0;
	  z-index: 8;
	}

	#mobile-toggle:checked ~ ul {
	  transform: translateX(0%);
	  transition: .5s transform, .1s opacity;
	  opacity: 1;
	}


	#main-menu li {
	  width: 100%;
	  margin: 0;
	  text-align: left;
	  margin-bottom: .3em;
	  
	}
	#main-menu li a {
	  width: 100%;
	  padding: .8em 2em;
	  padding-right: 4em;
	  text-transform: none;
	  display: block;
	  opacity: .8;
	  color: var(--main-fg);
	  font-weight: 400;
	}
	#main-menu li a:before {
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: var(--main-fg);
	  content: "";
	  opacity: 0;
	}
	#main-menu li a:hover:before {
	  opacity: .1;
	}
	#main-menu li a:after {
	  display: none;
	}
}

@media screen and (min-width: 40em) and (max-width: 50em) {
	header {
	  height: 7.5em;
	  flex-direction: column;
	}

	header h1 {
	  flex-grow: 0;
	  height: 4.5rem;
	  line-height: 4.5rem;
	  text-align: left;
	  width: 100%;
	}

	#main-menu {
	  width: 100%;
	}

	#main-menu ul li {
	  flex-grow: 1;
	  margin-left: 0;
	  text-align: left;
	}

	#contents {
	  padding-top: 8em;
	}
}

/* shrink content as screen gets wider */

@media screen and (min-width: 80em) {
	body {
		--content-padding: 15%;
	}
}

@media screen and (min-width: 100em) {
	body {
		--content-padding: 24%;
	}
}

