body {
  font-family: "Segoe UI", Segoe, Arial, sans-serif;
  color: #fff;
  background-color: #1c1c1c;
  --roundiness: 5px;
}

a {
  color: rgb(98, 205, 254);
}

a:hover {
  opacity: .6;
  text-decoration: none;
}

a:active {
  opacity: 1;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33,33,33,.8);
  width: 100%;
  height: 4em;
  padding: .75em 1.5em;
  border-bottom: 1px solid #111;
  backdrop-filter: blur(32px);
  z-index: 10;
}

.header-content {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.25em;
  flex-grow: 0;
  border-right: 1px solid #444;
  line-height: 1.25em;
  padding-right: 1em;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: .5em;
}

/* logo */

h1:before {
  content: "";
  background-image: url("../_assets/images/icon-outline.svg");
  width: 1.75em;
  height: 1.75em;
  background-size: 100%;
  background-repeat: none;
  display: inline-block;
}


#main-menu {
  flex-grow: 0;
}

#main-menu ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
  font-size: .85em;
}

#main-menu ul a {
  color: inherit;
  text-decoration: none;
  padding: .5em .7em;
  border-radius: var(--roundiness);
  transition: .1s background-color;
  font-weight: 500;
}

#main-menu ul a:hover, .selected a {
  background-color: #383838;
  opacity: 1;
}

.selected {
  color: rgb(98, 205, 254);
}

#contents, footer {
  margin: auto;
  padding: 3em;
}

#contents {
  padding-top: 6.5em;
  max-width: 64em;
}

p {
  margin: 1em 0;
  line-height: 1.8;
}

h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.875em;
  margin-bottom: 1rem;
}

.readtime {
  opacity: .5;
}

h2 ~ p:not([class]):first-of-type {
  border-top:1px solid #444;
  padding-top: 1em;
}

img {
  border-radius: var(--roundiness);
}

footer {
  padding-top: 2em;
  max-width: 72em;
  color: #aaa;
  padding-bottom: 2em;
  line-height: 1.9;
}

.footer-buttons a:hover {
  opacity: 1;
}

footer *:not(.footer-buttons) > a {
  padding: .25em .5em;
  border-radius: var(--roundiness);
  text-decoration: none;
  margin: 1em -.5em;
  transition: .1s background-color;
}

footer *:not(.footer-buttons) > a:hover {
  background-color: #333;
  opacity: 1;
}

footer ul {
  list-style-type: none;
}

footer a {
  font-size: .9em;
}

.rhs {
  text-align: right;
}

footer:before {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  display: block;
  height: 1px;
  background: #333;
  transform: translateY(-1em);
}

.blog-category {
  color: #999;
}

.chs {
  text-align: center;
}

select {
  appearance: none;
  border: none;
  border-radius: var(--roundiness);
  padding: .35em .5em;
  background-color:rgba(255,255,255,.1);
  color: #fff;
}

select option {
  background-color: #222;
}

#theme-switcher {
  appearance: none;
  border: none;
  border-radius: var(--roundiness);
  padding: .25em .8em .38em .8em;
  background-color: rgb(98, 205, 254);
  color: #000;
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.14);
}

#theme-switcher:hover {
  background-color: rgba(98, 205, 254, 0.9);
}

#theme-switcher:active {
  border-bottom-color: transparent;
  opacity: .9;
}

#theme-options {
  margin: 0 .5em;
}

.row {
  display: flex;
}

.row > * {
  padding: 1em;
  flex-basis: 0;
}

#contents ul {
	margin-left: 1em;
}

#contents li {
	margin-bottom: 1em;
}

pre, *:not(pre) > code {
	background-color: #282828;
	border-radius: var(--roundiness);
}

*:not(pre) > code {
	padding: .25em .5em;
}

pre {
	padding: .75em 1em;
	line-height: 1.7;
	overflow-x: auto;
}

pre, code {
	font-family: "Cascadia Code","Fira Code","Consolas",monospace;
	font-size: 1rem;
}

h3, h4, h5, h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

#blog-index-categorical h3 {
	margin-top: 0;
}

#mailtxt {
  filter: invert(1);
}

#blog-index-categorical > div {
	border-radius: var(--roundiness);
	background-color: #242424;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

#blog-index-categorical ul {
	list-style-type: none;
	margin: 0;
}
