@media screen and (max-width: 48em) {
  header {
    justify-content: left;
  }
  h1 {
    border: 0;
  }
  label[for="mobile-toggle"]:before {
    content: "Menu";
    display: block;
    position: absolute;
    top: .725rem;
    right: 1.5rem;
    z-index: 11;
    padding: .5rem .8rem;
    font-size: .8em;
    border-radius: var(--roundiness);
  }
  
  label[for="mobile-toggle"]:hover:before {
    background-color: rgba(255,255,255,.1);
  }
  
  label[for="mobile-toggle"]:active:before {
    background-color: rgba(255,255,255,.05);
  }
  
  #mobile-toggle:checked ~ ul {
    transform: translateX(0);
  }
  
  #main-menu ul {
    transform: translateX(100%);
    transition: .175s transform;
    position: fixed;
    top: 0;
    right: 0;
    width: 14em;
    height: 100vh;
    flex-direction: column;
    background: #222;
    padding: 1em .5em;
    padding-top: 5em;
    border-radius: var(--roundiness);
    border: 1px solid #383838;
    font-size: .9em;
    gap: .5em;
  }
  
  #main-menu li {
    flex-grow: 0;
  }
  #main-menu li a {
    display: block;
    padding-left: 1.4em;
    padding-top: .6em;
    padding-bottom: .6em;
  }
  .selected a {
    position: relative;
    color: #fff;
  }
  .selected a:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3px;
    height: 1.3em;
    border-radius: 100em;
    background: rgb(98, 205, 254);
    display: block;
    content: "";
    transition: .1s height ease-out;
  }
  .selected a:focus:before {
    height: .8em;
  }
}
