<!--:using: utils/dates.py-->
<!--:using: utils/capitalize.py-->
<!--:visual date = (ISO8601_to_BlogDate longdate)-->
<!--:visual updated = (ISO8601_to_BlogDateTime lastedited)-->
<!--:cat title = (CapitalizeCategory category)-->

<h2><!--:title--></h2>

<div class="blog-category instapaper_hide banner">
	in <a href="index.html#<!--:category-->"><!--:cat title--></a>
</div>

<div>
	<time datetime="<!--:longdate-->" class="article-date"><!--:visual date--></time> &mdash; <span class="last-edited">updated on <time datetime="<!--:lastedited-->" ><!--:visual updated--></time></span>
</div>
