/* layout */

body {
	--sidebar-width: 12em;
}

header {
	min-width: var(--sidebar-width);
	max-width: var(--sidebar-width);
	height: 65%;
	flex-shrink: 0;
	overflow: auto;
	text-align: center;
	padding: 1em;
	background: lightblue;
	color: black;
	border-right: 4px inset white;
	background-image: url('../_assets/images/bgsky8.gif');
}

footer {
	width: var(--sidebar-width);
	height: 35%;
	overflow: auto;
	border-top: 4px inset white;
	border-right: 4px inset white;
	position: fixed;
	bottom: 0;
	opacity: 1;
	text-align: center;
	padding: 1em;
	background: grey;
	color: white;
}

.container {
	display: flex;
	height: 100%;
}

.container > *:nth-child(2) {
	overflow-y: scroll;
	overflow-x: hidden;
	flex-shrink: 1;
}

