/* styling */

#contents {
	background-color: midnightblue;
	background-image: url('../_assets/images/bgchoc2.gif');
	background-blend-mode: overlay;
	color: white;
	padding: 2em 4em;
}

header a {
	color: blue;
}

header a:visited {
	color: red;
}

footer a {
	color: yellow;
}

footer a:visited {
	color: pink;
}

footer:after {
	display: block;
	content: "Best viewed in 800x600, with aliased fonts";
}

header ul, footer ul {
	list-style-type: none;
}

header h1 {
	line-height: 1;
}

a {
	color: lightgreen;
}

figure img {
	box-shadow: .5em .5em grey;
}

time {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	margin: .5rem 0;
}

p {
	margin-bottom: 1em;
}

ul {
	margin-left: 2em;
	margin-bottom: 1em;
}

ul li {
	margin-bottom: 1em;
}

#main-menu ul, #main-menu ul li,
footer ul, footer ul li {
	margin: 0;
}

hr {
	display: block;
	border: 2px inset lightgrey;
}

#main-menu ul {
	border: 2px outset lightblue;
	background-color: lightgrey;
	text-align: left;
}

#main-menu ul li {
	border: 1px inset white;
}

header h1 {
	border: 2px outset purple;
	padding: .5em;
	font-size: 1.5em;
}

#mailtxt {
	filter: invert(1);
}

figure img {
	max-width: 50%;
}
