/* icons */

#main-menu ul li:before {
	content: '';
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	margin: .6em .4em;
	background-size: 100% 100%;
}

#main-menu ul li:nth-of-type(1):before{
	background-image: url('../_assets/images/address_book_home.png');
}
#main-menu ul li:nth-of-type(2):before{
	background-image: url('../_assets/images/address_book_user.png');
}
#main-menu ul li:nth-of-type(3):before{
	background-image: url('../_assets/images/address_book_pad.png');
}
#main-menu ul li:nth-of-type(4):before{
	background-image: url('../_assets/images/briefcase-0.png');
}
#main-menu ul li:nth-of-type(5):before{
	background-image: url('../_assets/images/windows_slanted-1.png');
}
#main-menu ul li:nth-of-type(6):before{
	background-image: url('../_assets/images/tip.png');
}

